/*! 05.0 - BUTTONS */
.btn{
	font-family: $font-primary;
	font-size: 12px;
	line-height: 46px;
	font-weight: 600;
	padding: 0 34px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	min-width:160px;
	max-width:100%;
	border: none;
	box-sizing: border-box;
	transition: all 0.5s;
	position: relative;
	z-index: 2;
	@include border-radius(23px);
	background-image: -webkit-linear-gradient(left, $primary-alt-color 0%, $primary-color 100%);
	background-image: linear-gradient(to right, $primary-alt-color 0%, $primary-color 100%);
	.io-azure &{
		@include border-radius(4px);
		&:not(.btn-simple):not(.btn-plane) {
			box-shadow: 0 10px 30px rgba(0,0,0,.15);
		}
		&:after,
		&:before{
			@include border-radius(4px);
		}
	}
	&:before{
		position: absolute;
		@include border-radius(23px);
		left: 0;
		top:0;
		content:"";
		width: 100%;
		height: 100%;
		z-index: -2;
		opacity:0;
		transition:all .5s ease;
		background-image: -webkit-linear-gradient(left, $primary-color 0%, $primary-alt-color 100%);
		background-image: linear-gradient(to right, $primary-color 0%, $primary-alt-color 100%);
	}
	&.btn-alt{
		background-image: -webkit-linear-gradient(left, $secondary-color 0%, $primary-color 100%);
		background-image: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
		&:before{
			background-image: -webkit-linear-gradient(left, $primary-color 0%, $secondary-color 100%);
			background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
		}
	}
	&:hover:before{
		opacity:1;
	}
	&:hover,
	&:focus{
		color: #fff;
		outline: none;
		box-shadow: none;
	}
	&.btn-outline{
		background: transparent;
		&:after{
			position: absolute;
			@include border-radius(23px);
			left: 2px;
			top:2px;
			content:"";
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			z-index: -1;
			opacity:1;
			background: darken($dark-bg-alt,7%);
			transition:all .5s ease;
		}
		&:hover:after{
			opacity:0;
		}
		&:before{
			opacity:1;
		}
		
	}
	.io-azure &{
		&.btn-outline{
			&:after{
				@include border-radius(4px);
			}
		}
	}
	&.btn-plane{
		background: $secondary-color;
		&.btn-alt{
			color:#2c57f5;
			background: #fff;
			&:before{
				background: $dark-bg;
			}
			&:hover{
				color:#fff;
			}
		}
	}
	&.btn-center{
		margin:0 auto;
		width: auto;
		min-width: 160px;
	}
	&.btn-lg {
		padding:18px 35px;
		font-size: 16px;
		@include border-radius($radius-btn);
	}
	&.btn-md {
		padding:10px 20px;
	}
	&.btn-sm {
		line-height: 39px;
		padding: 0 24px;
	}
	&.btn-xs {
		padding:3px 12px 4px;
		font-weight: 700;
		min-width:90px;
	}
	&.round {
		@include border-radius(60px);
	}
	&.btn-simple{
		background: transparent;
		text-transform: capitalize;
		font-weight: 500;
		letter-spacing: 0.1em;
		color:#fff;
		&:before{
			display:none;
		}
		.fa, .ti{
			margin-right: 8px;
			color:$primary-color;
		}
	} // @v110
	&.btn-more{
		background: transparent;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.2em;
		color:$primary-color;
		font-size: .9em;
		&:before{
			display:none;
		}
		.ti{
			position: relative;
			top:1px;
			transition: all .4s ease;
		}
		&:hover{
			color:$secondary-color;
			.ti{
				margin-left: 6px;
			}
		}
	} // @v111
}
.play-btn{
	position: relative;
	display:inline-block;
	transition: all .5s ease;
	&:hover{
		margin-left: 10px;
	}
	/* @v1.1.0 s */
	&-alt{
		color:#fff;
		text-align: center;
		height: 60px;
		width:60px;
		transition:all .5s ease;
		&:after{
			position: absolute;
			content:"";
			height: calc(100% + 16px);
			width: calc(100% + 16px);
			top:-8px;
			left: -8px;
			border-radius:50%;
			border: 1px solid rgba($light-color, .35);
			animation:1s ease 0s normal none infinite running playbutton;
		}
		.fa{
			font-size: 24px;
			height:60px;
			width:60px;
			border-radius: 50%;
			background: $gradiant-one;
			line-height: 60px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			color:#fff;
			+ span{
				position: absolute;
				display: inline-block;
				top:calc(100% + 10px);
				left: 50%;
				min-width:200px;
				transform: translateX(-50%);
			}
		}
		&:hover,&:focus{
			color:#fff;
			margin-top:-20px !important;
		}
		.section-pro &,.section-pro-alt & {
			&:after{
				border: 1px solid rgba($primary-color, .35);
			}
			span{
				color:$primary-color;
			}
		}
	}
	/* @v1.1.0 e */
	.play{
		position: absolute;
		left: 0;
		top:50%;
		margin-top: 3px;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
		border-radius:50%;
		background-image:$gradiant-one;
		transition: all .5s ease;
		&:before{
			position: absolute;
			content:"";
			height: 46px;
			width: 46px;
			top: 2px;
			left: 2px;
			border-radius:50%;
			background: $dark-bg;
		}
		&:after{
			position: absolute;
			content:"";
			height: calc(100% + 16px);
			width: calc(100% + 16px);
			top:-8px;
			left: -8px;
			border-radius:50%;
			border: 1px solid rgba($light-color, .35);
			animation:1s ease 0s normal none infinite running playbutton;
		}
		> span{
			position: absolute;
			content:"";
			height: 24px;
			width: 14px;
			top: 50%;
			left: calc(50% + 2px);
			transform: translate(-50%,-50%);
			background-image:$gradiant-one;
			&:before,&:after{
				position: absolute;
				content:"";
				height: 0;
				width: 0;
				right: 0;
			}
			&:before{
				top: 0;
				border-right: 14px solid $dark-bg;
				border-bottom:12px solid transparent;
			}
			&:after{
				bottom: 0;
				border-right: 14px solid $dark-bg;
				border-top:12px solid transparent;
			}
		}
	}
	> span{
		display:block;
		padding-left: 70px;
		font-weight: 300;
		&:first-of-type{
			font-size:21px;
			color: $light-color;
		}
		&:last-of-type{
			font-size:12px;
			color: $secondary-alt-color;
		}
	}
}

@keyframes playbutton {
	0%{
		transform:scale(.75);
		opacity:1;
	}
	100%{
		transform:scale(1.3);
		opacity:0;
	}
}

.theme-light,.io-dark-light .section-light,.io-dark-light .section-light-alt{
	.btn{
		&.btn-outline{
			background: transparent;
			color:$heading-color-light;
			&:after{
				background: darken($light-bg,2%);
			}
		}
	}
	.play-btn{
		.play{
			&:before{
				background: $light-bg-alt;
			}
			&:after{
				border-color: rgba($default-color, .35);
			}
			> span{
				&:before{
					top: 0;
					border-right-color:$light-bg-alt;
				}
				&:after{
					bottom: 0;
					border-right-color:$light-bg-alt;
				}
			}
		}
		> span{
			&:first-of-type{
				color: $heading-color-light;
			}
		}
	}
}

/* @v1.1.0 */
.io-azure{
	.btn{
		&.btn-outline{
			background: transparent;
			&:after{
				background: darken($azure-bg, 7%); 
			}
		}
	}
	.section-pro,.section-pro-alt{
		.btn{
			&.btn-outline{
				color:$primary-alt-color;
			}
			&.btn-simple{
				color:$primary-alt-color;
				.fa{
					color:$primary-color;
				}
			}
		}
	}
	.play-btn{
		.play{
			&:before{
				background: $light-bg-alt;
			}
			&:after{
				border-color: rgba($default-color, .35);
			}
			> span{
				&:before{
					top: 0;
					border-right-color:$light-bg-alt;
				}
				&:after{
					bottom: 0;
					border-right-color:$light-bg-alt;
				}
			}
		}
		> span{
			&:first-of-type{
				color: $heading-color-light;
			}
		}
	}
}
/* @v1.1.0 e */

.btn-img{
	display:block;
	img{
		max-width:100%;
	}
}
.btns{
	margin: 0 -15px;
	li{
		display:inline-block;
		margin: 10px 15px;
		a:not(.btn){
			margin-right: 10px;
		}
	}
}
@media only screen and (max-width : 480px) {
	.btn{
		font-size: 10px;
		min-width:110px;
		line-height: 40px;
		padding: 0 15px;
	}
	.btn-img{
		max-width:110px;
	}
	.btns{
		margin: 0 -3px;
		li{
			margin: 10px 3px;
		}
	}
}