// @v122
.countdown-box.countdown-header{
	.extra-line,&:before,&:after{
		z-index: -1;
	}
}

// @v123
.subscription-form .btn {
	margin-top: 0;
}
.subscription-form .input-round {
	text-align: left;
}
@media only screen and (max-width : 767px) {
	.subscription-form .btn {
		position: relative;
		margin-top: 20px;
	}
	.subscription-form .input-round {
		text-align: center;
	}
}

// @v130
.io-jasmine .circle-animation {
	z-index: -1;
}
@media only screen and (min-height : 1000px) {
	.io-jasmine .is-transparent+.banner .banner-content {
		padding-top: 150px;
	}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.io-jasmine .countdown-box, .io-lungwort .countdown-box{
		.countdown-time{
			&:after{
				font-size:24px;
			}
		}
	}
}
