$jasmine-text:			#6a7894;
$jasmine-text-dark: 	#4c5a77;
$jasmine-text-darker:	#223b55;
$jasmine-bg:		    #fff;
$jasmine-bg-alt:		#e7edf5;
$primary-color: 		#16a1ff;
$secondary-color:		#2b56f5;


/** @Jesmine @v130 */
.io-jasmine{
    h1,h2,h3,h4,h5,h6{
        color: $jasmine-text-darker;
    }
    p{
        color: $jasmine-text-dark;
        &.lead{
            color: $jasmine-text;
        }
    }
    .section-dark{
        h1,h2,h3,h4,h5,h6{
            color: #fff;
        }
        p{
            color: #fff;
            &.lead{
                color: #fff;
            }
        }
    }
    .section-bg{
        background: $jasmine-bg;
    }
    .section-bg-alt{
        background: $jasmine-bg-alt;
    }
    .section-bg-atob{
        background-image: linear-gradient(to bottom, $jasmine-bg 0%, $jasmine-bg-alt 100%);
    }
    .heading-sm{
        color: rgba($jasmine-text-darker,.6);
        &-s2{
            color: $primary-color;
        }
    }
    .timeline{
        &-title{
            color: $secondary-color;
        }
        &-done{
            .timeline{
                &-title{
                    color: $jasmine-text-darker;
                }
            }
        }
    }
    .document-title{
        color: $jasmine-text-dark;
    }
    .btn{
        border-radius: 6px;
        background-image: -webkit-linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        background-image: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        &:before{
            border-radius: 6px;
            background-image: -webkit-linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
            background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
        }
        &-outline{
            border:2px solid $primary-color;
            &:before,&:after{
                display:none;
            }
            &:hover{
                color: #fff;
                background: $primary-color !important;
            }
        }
        &.btn-plane{
            background: $secondary-color;
        }
    }
    .text-block ul:not(.btns) li {
        position: relative;
        line-height: 2;
        padding-left: 60px;
        margin-bottom: 18px;
        &:before,&:after{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 0;
            content: '';
        }
        &:after{
            background: url(../images/check.png) no-repeat center center;
            background-size: contain;
        }
        &:before {
            background: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        }
    }
    .contact-info-alt{
        li{
            .fa{
                color: $primary-color;
                background: transparent;
                border:2px solid $primary-color;
                line-height: 34px;
                &:after{
                    display: none;
                }
            }
        }
    }
    .navbar-toggler {
        background: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        &:hover,&:focus{
            background: linear-gradient(to right, $primary-color 0%,$secondary-color 100%);
        }
    }
    .team{
        &-circle{
            &-des{
                background: #fff;
                box-shadow: 0px 7px 23px 0px rgba(0, 0, 0, 0.04);
                h5{
                    color: $jasmine-text-dark;
                }
                span{
                    color: $primary-color;
                }
                p{
                    color: $jasmine-text-darker;
                }
                &:hover{
                    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.08);
                }
            }
            &-social{
                li{
                    a{
                        color: $primary-color;
                        &:hover{
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
    .site-header .navbar-nav > li > a{
        text-transform: capitalize;
        color: $jasmine-text-darker;
        &:hover,&.active{
            color: $primary-color;
        }
    }
    .site-header.has-fixed .navbar{
        background: darken($jasmine-bg-alt,6%);
    }
    .site-header .navbar-btns {
        margin-left: 20px;
    }
    .lang-switch{
        a{
            font-size: 13px;
            font-weight: 500;
            margin: 0 8.5px;
            color: $jasmine-text-darker;
            &:hover{
                color: $primary-color;
                background-color: transparent;
            }
        }
        .dropdown-item{
            margin:  0 0;
        }
        .dropdown-menu{
            margin-top: 15px;
        }
        .ti{
            font-size: .6em;
            margin-left: 5px;
        }
    }
    .loader-section{
        background: $jasmine-bg-alt;
    }
    .subscribe-results {
        padding: 7px 20px;
    }
}
@media only screen and (max-width: 991px){
    .io-jasmine {
        .navbar-collapse.show:after {
            display: none;
        }
        .site-header .navbar.is-transparent.active {
            background: darken($jasmine-bg-alt,6%);
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .io-jasmine .site-header .navbar-btns {
        margin-left: 6px;
    }
}
@media only screen and (max-width: 767px){
    .io-jasmine {
        .team-circle-des{
            margin-left: 0;
            max-width: 100%;
        }
        img{
            width: 100%;
            max-width: 360px;
        }
    }
}

@for $zi from 1 through 10 {
	.zi#{$zi} { z-index: 1 * $zi!important }
}

.navbar-btns{
    li{
        display: inline-block;
    }
}

.btns.no-space{
    margin: 0 -14px;
    li{
        margin-left: -34px;
        margin-right: -34px;
        padding-left: 14px;
        padding-right: 14px;
    }
}

.background-shape{
    background: rgba(#003456,.03);
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top:0;
    left: 50%;
    transform: skewX(33deg);
    transform-origin: left bottom;
    &:before,&:after{
        background: rgba(#fff,.2);
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        top:0;
    }
    &:before{
        left: 280px;
    }
    &:after{
        left: 560px;
    }
    &.bs-right{
        left: 70%;
    }
    &.bs-reverse{
        right: 70%;
        left: auto;
        transform: skewX(-33deg);
        transform-origin: right bottom;
        &:before{
            left:auto;
            right: 280px;
        }
        &:after{
            left:auto;
            right: 560px;
        }
    }
}
.mb {
	&--x1 {
		margin-bottom: -10px;
	}
	&--x2 {
		margin-bottom: -20px;
	}
	&--x3 {
		margin-bottom: -30px;
	}
	&--x4 {
		margin-bottom: -40px;
	}
	&--x5 {
		margin-bottom: -50px;
	}
	&--x6 {
		margin-bottom: -60px;
	}
	&--x7 {
		margin-bottom: -70px;
	}
	&--x8 {
		margin-bottom: -80px;
	}
}
.banner-jasmine{
    padding-top: 130px;
    background: linear-gradient(-135deg, #dde5f1 0%, #eaeff6 100%);
    overflow: hidden;
    .countdown-box{
        position: relative;
        padding: 65px 0 50px;
    }
    .token-countdown .countdown-text{
        font-weight: 400;
        text-transform: capitalize;
        color: $primary-color;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .io-jasmine .banner.banner-full{
        min-height: 1080px
    }
}
@media only screen and (max-width: 480px){
    .io-jasmine .banner.banner-full{
        min-height: 580px;
    }
    .io-jasmine .site-header .is-transparent + .banner .banner-content{
        padding-top: 45px;
    }
    .io-jasmine{
        h1, .h1, .heading-lg, .heading-lg-lead {
            font-size: 1.2em;
        }
    }
    .btns.no-space{
        margin: 0 -14px;
        li{
            margin:2px -20px;
            padding-left: 14px;
            padding-right: 14px;
        }
    }
}
@media only screen and (max-width: 767px){
	.banner-jasmine{
        padding-top: 50px;
        .countdown-box{
            padding: 25px 0 50px;
            max-width: 280px;
        }
    }
    .io-jasmine .banner.banner-full{
        min-height: 650px
    }
}
.circle-animation{
    position: absolute;
    height: 700px;
    width: 700px;
    top:-110px;
    left: 50%;
    transform: translateX(-50%);
    .ca{
        position: absolute;
        border-radius: 50%;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border:2px solid rgba($jasmine-text-darker,.15);
        &-dot{
            position: absolute;
            height: 12px;
            width: 12px;
            border-radius: 50%;
        }
        &-color{
            &-1{
                background: #86cfff;
            }
            &-2{
                background: #859fff;
            }
            &-3{
                background: #93a6ba;
            }
        }
    }
    &-l1{
        height: 100%;
        width: 100%;
        animation: rotatecw 78s linear infinite 0s;
        &-d1{
            left: 23%;
            top: 6.35%;
        }
        &-d2{
            right: 23%;
            top: 6.35%;
        }
        &-d3{
            right: -7px;
            top: 50%;
        }
        &-d4{
            right: 23%;
            bottom: 6.35%;
        }
        &-d5{
            left: 23%;
            bottom: 6.35%;
        }
        &-d6{
            left: -7px;
            top: 50%;
        }
    }
    &-l2{
        height: 84.6%;
        width: 84.6%;
        border-radius: 50%;
        animation: rotateacw 66s linear infinite 0s;
        &-d1{
            right: 4.9%;
            top:25%;
        }
        &-d2{
            left: 42%;
            top:-.6%;
        }
        &-d3{
            left: -2px;
            top:40%;
        }
        &-d4{
            left: 24%;
            bottom:5.5%;
        }
        &-d5{
            right: 11.2%;
            bottom:16%;
        }
    }
    &-l3{
        height: 69.2%;
        width: 69.2%;
        animation: rotatecw 54s linear infinite 0s;
        &-d1{
            left: 7.6%;
            top:20%;
        }
        &-d2{
            right: 24%;
            top:5.2%;
        }
        &-d3{
            right: -3px;
            bottom:39%;
        }
        &-d4{
            right: 37%;
            bottom:0;
        }
        &-d5{
            left: 8.4%;
            bottom:19%;
        }
    }
}

@keyframes rotatecw {
    0%{transform: translate(-50%, -50%) rotate(0deg);}
    100%{transform: translate(-50%, -50%) rotate(360deg);}
}
@keyframes rotateacw {
    0%{transform: translate(-50%, -50%) rotate(0deg);}
    100%{transform: translate(-50%, -50%) rotate(-360deg);}
}

@media only screen and (max-width: 991px){
	.circle-animation {
        transform: translateX(-50%) scale(.9);
    }
}
@media only screen and (max-width: 767px){
	.circle-animation {
        transform: translateX(-50%) scale(.8);
        top: -170px;
    }
}

.section-head-s6{
    padding-bottom: 20px;
}
.section-title-s6{
    font-weight: 600;
}
.heading-sm{
    text-transform: uppercase;
    letter-spacing: .4em;
    font-weight: 600;
    font-size: 1.07em;
    &-s2{
        text-transform: uppercase;
        letter-spacing: .2em;
        color: $primary-color;
        padding-left: 75px;
        position: relative;
        font-size: .93em;
        &:before{
            position: absolute;
            left: 0;
            top:50%;
            margin-top: -1px;
            height: 2px;
            width: 60px;
            content: '';
            background: $primary-color;
        }
    }
}
.btn-icon-s2{
    font-weight: 600;
    color: $primary-color;
    text-transform: capitalize;
    background: transparent !important;
    &:before{
        display:none;
    }
    .ti{
        display: inline-block;
        color: #fff;
        margin-right: 12px;
        font-size: .93em;
        text-align: center;
        line-height: 36px;
        width: 36px;
        border-radius: 50%;
        background: $primary-color;
        transition: all .4s;
    }
    &:hover,&:focus{
        color: $secondary-color;
        .ti{
            color: #fff;
            background: $secondary-color;
        }
    }
}

// Rating
.rating{
    &-item{
        text-align: center;
    }
    &-info{
        font-size: 2.23em;
        line-height: 1;
        padding: 16px 0;
        font-weight: 700;
        color: $jasmine-text-darker;
        span{
            font-size: .5em;
            color: $jasmine-text;
            font-weight: 400;
        }
        background: #e9effa;
        border-radius: 6px 6px 0 0;
    }
    &-title{
        background: rgba($primary-color,.6);
        color: #fff;
        padding: 5px 0;
        font-size: .93em;
        line-height: 20px;
        border-radius: 0 0 6px 6px;
    }
}
@media only screen and (max-width: 767px){
    .rating{
        &-item{
            text-align: center;
        }
        &-info{
            font-size: 1.53em;
        }
        &-title{
            font-size: .83em;
        }
    }
}
@media only screen and (max-width: 575px){
    .rating{
        &-list{
            margin-bottom: -30px;
        }
        &-item{
            margin-bottom: 30px;
        }
    }
}

// Features
.features{
    &-box-s3{
        position: relative;
        background: #fff;
        border-radius: 6px;
        text-align: center;
        padding: 80px 30px 70px;
        margin-top: 60px;
        &:hover,&.active{
            .features-action{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    &-icon-s3{
        position: absolute;
        width: 128px;
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, 50%);
        img{
            width: 100%;
        }
    }
    &-title-s3{
        font-weight: 400;
        margin-bottom: 11px;
    }
    &-subtitle-s3{
        color: #9fa9b3;
        display: block;
        position: relative;
        padding-bottom: 23px;
        margin-bottom: 20px;
        &:after{
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -25px;
            height: 3px;
            width: 50px;
            content: '';
            background: $primary-color;
        }
    }
    &-action{
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: -25px;
        margin-bottom: -25px;
        background: $secondary-color;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        opacity: 0;
        transform: translateY(20px);
        &:hover{
            color: #fff;
            background: $primary-color;
        }
    }
}

// Benefits

.benefits{
    &-item{
        display: flex;
        margin-bottom: 80px;
    }
    &-icon{
        width: 110px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &-txt{
        padding-left: 30px;
        padding-right: 140px;
    }
}
@media only screen and (max-width: 991px){
    .benefits{
        &-item{
            align-items: center;
        }
    }
}
@media only screen and (max-width: 575px){
    .benefits{
        &-item{
            display: block;
            margin-bottom: 40px;
        }
        &-icon{
            margin-bottom: 20px;
        }
        &-txt{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

//Token
.token{
    &-details{
        &-list{
            border:1px solid #d8e0ff;
            border-radius: 6px;
            li{
                display: flex;
                font-weight: 500;
                overflow: hidden;
                font-size: .93em;
                span{
                    line-height: 20px;
                    padding-top: 15px;    
                    padding-bottom: 15px;    
                }
                &:nth-child(even){
                    .token-details-title{
                        background: #e7f3ff;
                    }
                    .token-details-info{
                        background: #f7f9ff;
                    }
                }
                &:nth-child(odd){
                    .token-details-title{
                        background: #eff8ff;
                    }
                    .token-details-info{
                        background: #fff;
                    }
                }
                &:first-child{
                    border-radius: 6px 6px 0 0;
                }
                &:last-child{
                    border-radius: 0 0 6px 6px;
                }
            }
        }
        &-title{
            color: $jasmine-text-darker;
            width: 48%;
            padding-left: 15px;
        }
        &-info{
            color: $primary-color;
            width: 52%;
            padding-left: 20px;
        }
    }
    &-stage{
        margin-bottom: 33px;
        border-radius: 6px;
        &-title{
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 26px;
            padding: 10px;
            background: $primary-color;
            border-radius: 6px 6px 0 0;
        }
        &-pre{
            background: lighten($primary-color,15%);
        }
        &-date{
            border:1px solid #d8e0ff;
            border-top: none;
            padding: 12px 0 10px;
            h6{
                margin-bottom: 0;
                font-weight: 700;
            }
            span{
                font-weight: 400;
            }
        }
        &-info{
            border:1px solid #d8e0ff;
            border-top: none;
            border-radius: 0 0 6px 6px;
            padding: 14px 0 16px;
        }
        &-bonus{
            display: block;
            font-weight: 500;
            color: $primary-color;
        }
        &-cap{
            display: block;
            color: $jasmine-text;
        }
        &-amount{
            color: $jasmine-text-darker;
        }
    }
    &-action{
        &-box{
            display: flex;
            align-items: center;
            border-radius: 6px;
            background: lighten($primary-color,42%);
        }
        &-title{
            width: 30%;
            background: lighten($primary-color,32%);
            border-radius: 6px 0 0 6px;
            font-weight: 500;
            font-size: 1.2em;
            line-height: 1.44;
            padding: 25px 0;
        }
        &-date{
            font-weight: 500;
            width: 40%;
            font-size: 1.33em;
            span{
                font-weight: 400;
                display: block;
                font-size: .8em;
            }
        }
        &-btn{
            width: 30%;
            padding-right: 30px;
            .btn{
               &.btn-lg{
                   padding: 10px;
                   min-width: 100%;
                   
                } 
            }
        }
    }
    &-bar{
        &-chart{
            display: flex;
            margin-top: 135px;
        }
        &-item{
            position: relative;
            height: 40px;
            border-radius: 20px;
            &:before{
                position: absolute;
                left: -20px;
                top:0;
                height: 40px;
                width: 40px;
                content: '';
                z-index: -1;
            }
            &:first-child:before{
                display: none;
            }
            &.tbic1{
                background: #002674;
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #002674;
                        }
                    }
                }
            }
            &.tbic2{
                background: #004ae2;
                &:before{
                    background: #004ae2;
                }
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #004ae2;
                        }
                    }
                }
            }
            &.tbic3{
                background: #3b7bff;
                &:before{
                    background: #3b7bff;
                }
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #3b7bff;
                        }
                    }
                }
            }
            &.tbic4{
                background: #3bb8ff;
                &:before{
                    background: #3bb8ff;
                }
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #3bb8ff;
                        }
                    }
                }
            }
            &.tbic5{
                background: #5378fb;
                &:before{
                    background: #5378fb;
                }
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #5378fb;
                        }
                    }
                }
            }
        }
        &-txt{
            position: absolute;
            padding-bottom: 10px;
            top:-110px;
            left: 50%;
            min-width: 100%;
            text-align: center;
            transform: translateX(-50%);
            &:after{
                position: absolute;
                left: 50%;
                top:100%;
                height: 65px;
                width: 1px;
                content: '';
                background: rgba($primary-color,.5);
            }
            span{
                display: block;
                line-height: 1.5;
                &:first-of-type{
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px){
    .token{
        &-bar{
            &-txt{
                font-size: .9em;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .token{
        &-bar{
            &-chart{
                display: block;
                margin:0;
                overflow: hidden;
            }
            &-item{
                margin: 10px 0;
                &:before{
                    display: none;
                }
            }
            &-txt{
                text-align: left !important;
                padding-bottom: 0;
                top:50%;
                left: 100%;
                min-width: 300%;
                text-align: center;
                transform: translateX(60px) translateY(-50%);
                &:after{
                    position: absolute;
                    left: 0;
                    top:50%;
                    height: 1px;
                    width: 40px;
                    margin-left: -55px;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px){
    .token{
        &-action{
            &-box{
                display: block;
            }
            &-title{
                width: 100%;
                border-radius: 6px 6px 0 0;
                padding: 25px 0;
            }
            &-date{
                padding: 25px 0;
                width: 100%;
            }
            &-btn{
                width: 100%;
                padding-right: 0;
                padding-bottom: 25px;
                .btn{
                   &.btn-lg{
                       padding: 10px;
                       min-width: 200px;

                    } 
                }
            }
        }
    }
}

// Documents
.document{
    &-item{
        margin:0 0 20px 20px;
        border-radius: 6px;
        background: #fff;
        min-height: 140px;
        padding: 25px 20px 20px 95px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
    }
    &-img{
        position: absolute;
        top:20px;
        left: 15px;
        width: 100px;
        img{
            border-radius: 4px;
        }
    }
    &-title{
        font-size: 1em;
        margin-bottom: 14px;
        color: $jasmine-text-dark;
    }
    &-links{
        margin: 0 -2px;
        li{
            display:inline-block;
            margin: 0 2px 5px;
            a{
                padding: 0 10px;
                display: inline-block;
                line-height: 21px;
                border: 2px solid #d8e0ff;
                border-radius: 4px;
                font-size: .86em;
                font-weight: 500;
            }
        }
    }
}

//TimeLine

.timeline{
    &-item{
        position: relative;
        padding: 0 15px 54px;
        &:before,&:after{
            position: absolute;
            top:41px;
            width: 50%;
            height: 3px;
            content: '';
            background: $primary-color;
            opacity: 0;
        }
        &:before{
            left: 0;
        }
        &:after{
            right: 0;
        }
    }
    &-date{
        text-transform: uppercase;
        font-size: .81em;
        font-weight: 700;
        color: $jasmine-text;
        letter-spacing: .1em;
        display: block;
        padding-bottom: 26px;
        position: relative;
        z-index: 2;
        &:after,&:before{
            position: absolute;
            bottom: 0;
            left: 50%;
            border-radius: 50%;
            content: '';
        }
        &:after{
            margin-left: -5px;
            height: 11px;
            width: 11px;
            background: $secondary-color;
        }
        &:before{
            margin-left: -13px;
            margin-bottom: -8px;
            height: 27px;
            width: 27px;
            background: rgba($secondary-color,.23);
            opacity: 0;
        }
    }
    &-title{
        color: $secondary-color;
        margin-bottom: 4px;
        padding-top: 48px;
        position: relative;
        &:before{
            position: absolute;
            top:0;
            left: 50%;
            height: 40px;
            width: 0;
            content: '';
            border-right: 1px dashed rgba(#babcc3,.3);
        }
    }
    &-info{
        li{
            position: relative;
            padding: 8px 0;
            color: lighten($jasmine-text,2%);
            line-height: 26px;
            &:after{
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 1px;
                width: 20px;
                margin-bottom: - 0.5px;
                margin-left: -10px;
                content: '';
                background: lighten($jasmine-text,5%);
            }
            &:last-child:after{
                display: none;
            }
        }
    }
    &-done{
        &:before,&:after{
            opacity: 1;
        }
        .timeline{
            &-title{
                color: $jasmine-text-darker;
            }
            &-date{
                &:before{
                    opacity: 1;
                }
            }
        }
    }
    &-current{
        &:before,&:after{
            opacity: 1;
        }
        &:after{
            opacity: 0;
        }
        .timeline{
            &-title{
                color: $jasmine-text-darker;
            }
            &-date{
                &:before{
                    opacity: 1;
                }
            }
        }
    }
    &-row{
        position: relative;
        &:before{
            position: absolute;
            top:42px;
            left: 0;
            width: 100%;
            height: 0;
            content: '';
            border-bottom: 1px dashed rgba(#babcc3,.3);
        }
        &:after{
            position: absolute;
            top:42px;
            width: 15px;
            height: calc(100% + 1px);
            content: '';
            border: 1px dashed rgba(#babcc3,.3);
        }
        &-done{
            &:after{
                position: absolute;
                top:41px;
                width: 15px;
                height: calc(100% + 3px);
                content: '';
                border: 3px solid $primary-color;
            }
            &.timeline-row-odd{
                &:after{
                    right: -15px;
                }
            }
            &.timeline-row-even{
                &:after{
                    left: -15px;
                }
            }
        }
        &-odd{
            &:after{
                right: -17px;
                border-left: 0;
                border-radius: 0 20px 20px 0;
            }
        }
        &-even{
            &:after{
                left: -17px;
                border-right: 0;
                border-radius: 20px 0 0 20px;
            }
            .timeline{
                &-item{
                    padding-left: 40px;
                    padding-right: 40px;
                    &:before{
                        right: 0;
                        left: auto;
                    }
                    &:after{
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
        &-last{
            &:after{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 991px){
    .timeline{
        &-item{
            padding: 30px 25px 24px;
            &:before,&:after{
                width: 3px;
            }
            &:before{
                top:0;
                left: -1px;
                height: 72px;
            }
            &:after{
                top:72px;
                right: auto;
                left: -1px;
                height: calc(100% - 72px);
            }
        }
        &-date{
            &:after,&:before{
                left: 0;
            }
            &:after{
                margin-left: -30px;
                margin-bottom: -5px;
            }
            &:before{
                margin-left: -38px;
                margin-bottom: -13px;
            }
        }
        &-title{
            padding-top: 30px;
            &:before{
                top:0;
                left:-25px;
                height: 0;
                width: 40px;
                margin-top: -1.5px;
                border-right: none;
                border-top: 1px dashed rgba(#babcc3,.3);
            }
        }
        &-info{
            li{
                &:after{
                    left: 0;
                    margin-left:0;
                }
            }
        }
        &-row{
            margin-left: 12px;
            &:before{
                top:0;
                width: 0;
                height: 100%;
                border-left: 1px dashed rgba(#babcc3,.3);
                border-bottom: none;
            }
            &:after{
                display: none;
            }
            &-even{
                .timeline{
                    &-item{
                        padding-left: 25px;
                        padding-right: 25px;
                        &:before{
                            right: auto;
                            left: -1px;
                        }
                        &:after{
                            left: -1px;
                            right: auto;
                        }
                    }
                }
            }
        }
    }
}


// Custom Tab
.tab-custom-s3{
    .nav-tabs{
        border:none;
        margin: 0 -7px 20px;
        .nav-item{
            margin: 5px 7px;
        }
        .nav-link{
            border:none;
            line-height: 24px;
            padding: 10px 18px;
            background: rgba($jasmine-text-darker,.07);
            border-radius: 6px;
            color: $jasmine-text-dark;
            &.active{
                color: $primary-color;
                background: rgba($primary-color,.1);
            }
        }
    }
}

.accordion-s2{
    .card {
        background-color: #fff;
        border: 2px solid rgba($jasmine-text-darker,.1);
        margin-bottom: 10px;
        &.active{
            border-color: rgba($primary-color,.3);
        }
        &-header{
            border: none;
            background: none;
            position: relative;
            padding: 0;
            h5{
                font-size: 1.2em;
            }
            a {
                color: $primary-color;
                font-weight: 400;
                padding: 25px 30px 15px;
                display: block;
                margin-top: 0;
                cursor: pointer;
                &.collapsed{
                    padding: 25px 30px;
                    color: $jasmine-text-dark;
                }
                &:hover{
                    color: $primary-color;
                }
            }
        }
        &-body{
            padding: 0 30px 25px;
        }
    }
    .plus-minus {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        height: 18px;
        width: 18px;
        margin-top: -9px;
        transition: all .5s ease;
        .ti {
            position: relative;
            height: 100%;
            display: block;
            font-size: 18px;
            color: $primary-color;
        }
    }
    .collapsed{
		.plus-minus {
			transform: rotate(180deg);
            .ti{
                color: rgba($jasmine-text-darker,.5);
            }
		}
	}
}


// Form
.input{
    &-border{
        width: 100%;
        line-height: 20px;
        font-size: .93em;
        padding: 13px 20px;
        background: transparent;
        border-radius: 6px;
        border:2px solid rgba($jasmine-text-darker,.15);
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &::-moz-placeholder { 
            opacity:.8;
            color:rgba($jasmine-text-darker,.7);
        }
        &:-ms-input-placeholder { 
            opacity:.8;
            color:rgba($jasmine-text-darker,.7);
        }
        &::-webkit-input-placeholder { 
            opacity:.8;
            color:rgba($jasmine-text-darker,.7);
        }
        &.error{
            border-color:#ff0000;
        }
    }
}
.form-message-s2 .input-field .btn {
	margin-top: 0;
}

// Subscribe
.subscribe-box{
    background-image: linear-gradient(35deg, $secondary-color 0%, $primary-color 100%);
    border-radius: 6px;
    padding: 65px 65px;
}
.subscribe-section-s2{
    position: relative;
    &:before{
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        height: 1px;
        width: 100%;
        background: #e3e7eb;
    }
}
.inline-form-s2{
    .btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
} 
.input-round-s2 {
	color: #6e7e98;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 6px;
	line-height: 24px;
	width: 100%;
	padding:15px 30px;
	outline: none;
	transition: all .5s ease;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    &::-moz-placeholder { 
        opacity:.8;
        color:rgba(#6e7e98,.7);
    }
    &:-ms-input-placeholder { 
        opacity:.8;
        color:rgba(#6e7e98,.7);
    }
    &::-webkit-input-placeholder { 
        opacity:.8;
        color:rgba(#6e7e98,.7);
    }
}

@media only screen and (max-width: 767px){
    .subscription-form .btn {
        top: 0;
        right: 0;
    }
}

@media only screen and (max-width: 575px){
    .subscribe-box{
        padding: 30px;
    }
}

// Footer
.footer-jasmine{
    background: url(../images/jasmine-footer-bg.png) no-repeat bottom center, #fff;
    background-size: cover;
    padding:60px 0 80px;
    .social{
        margin-bottom: 60px;
        li{
            a{
                color: #fff;
                background: $primary-color;
                &:hover{
                    color: #fff;
                    background: $secondary-color;
                }
                em{
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    .footer-logo{
        display: inline-block;
    }
    .copyright-text{
        margin-top: 18px;
    }
}





