$lungwort-text:			#d1ccff;
$lungwort-text-dark: 	#a89ffe;
$lungwort-text-darker:	#fff;
$lungwort-bg:		    #3e2bc5;
$lungwort-bg-alt:		#261986;
$lungwort-bg-dark:		#3221ad;
$primary-color: 		#7a5cff;
$secondary-color:		#a722f4;
$primary-alt-color:     #08bcf0;
//$secondary-alt-color:	#8255fd;

/** @Lungwort @v130 */
.io-lungwort{
    h1,h2,h3,h4,h5,h6{
        color: $lungwort-text-darker;
    }
    p{
        color: $lungwort-text-dark;
        &.lead{
            color: $lungwort-text;
        }
    }
    .section-bg{
        background: $lungwort-bg;
        .btn{
            &-outline{
                &:after{
                    background: $lungwort-bg;
                }
            }
        }
    }
    .section-bg-alt{
        background: $lungwort-bg-alt;
        .btn{
            &-outline{
                &:after{
                    background: $lungwort-bg-alt;
                }
            }
        }
    }
    .section-bg-dark{
        background: $lungwort-bg-dark;
        .btn{
            &-outline{
                &:after{
                    background: $lungwort-bg-dark;
                }
            }
        }
    }
    .section-bg-atob{
        background-image: linear-gradient(to bottom, $lungwort-bg 0%, $lungwort-bg-alt 100%);
    }
    .heading-sm{
        color: rgba($lungwort-text-darker,.6);
        &-s2{
            color: $primary-alt-color;
            &:before{
                background: $primary-alt-color;
            }
        }
    }
    .timeline{
        &-title{
            color: $secondary-color;
        }
        &-done{
            .timeline{
                &-title{
                    color: $lungwort-text-darker;
                }
            }
        }
    }
    .document-title{
        color: $lungwort-text-dark;
    }
    .btn{
        border-radius: 6px;
        background-image: -webkit-linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        background-image: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        &:before{
            border-radius: 6px;
            background-image: -webkit-linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
            background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
        }
        &-outline{
            &:after{
                border-radius: 6px;
            }
        }
        &.btn-plane{
            background: $secondary-color;
        }
    }
    .text-block ul:not(.btns) li {
        position: relative;
        line-height: 2;
        padding-left: 60px;
        margin-bottom: 18px;
        &:before,&:after{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 0;
            content: '';
        }
        &:after{
            background: url(../images/check.png) no-repeat center center;
            background-size: contain;
        }
        &:before {
            background: $primary-alt-color;
        }
    }
    .contact-info-alt{
        li{
            .fa{
                color: #fff;
                background: $primary-color;
                border:2px solid $primary-color;
                line-height: 34px;
                &:after{
                    display: none;
                }
            }
        }
    }
    .site-header .navbar-nav > li > a{
        text-transform: capitalize;
        color: $lungwort-text-darker;
        &:hover,&.active{
            color: $primary-alt-color;
        }
    }
    .site-header.has-fixed .navbar{
        background: darken($lungwort-bg-alt,3%);
    }
    .site-header .navbar-btns {
        margin-left: 20px;
    }
    .navbar{
        .btn{
            &-outline{
                &:after{
                    background: #362995;
                }
            }
        }
    }
    .has-fixed{
        .btn{
            &-outline{
                &:after{
                    background: darken($lungwort-bg-alt,3%);
                }
            }
        }
    }
    .countdown-box{
        h6{
            color: lighten($primary-color,11%);
        }
    }
    .lang-switch{
        position: relative;
        a{
            font-size: 13px;
            font-weight: 500;
            margin: 0 8.5px;
            color: $lungwort-text-darker;
            &:hover{
                color: $primary-alt-color;
                background-color: transparent;
            }
        }
        .dropdown-item{
            margin:  0 0;
        }
        .dropdown-menu{
            margin-top: 15px;
            background: darken($lungwort-bg-alt,5%);
            border:none;
        }
        .ti{
            font-size: .6em;
            margin-left: 5px;
        }
        &:before {
            position: absolute;
            content: '';
            left: -2px;
            top: 50%;
            margin-top: -8px;
            height: 20px;
            width: 1px;
            background: rgba(#efedff, 0.3);
        }
    }
    .navbar-toggler {
        background: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        &:hover,&:focus{
            background: linear-gradient(to right, $primary-color 0%,$secondary-color 100%);
        }
    }
    .background-shape{
        background: rgba(#000,.03);
        &:before,&:after{
            background: rgba(#000,.05);
        }
    }
    .btn-icon-s2{
        color: $primary-alt-color;
        .ti{
            color: #fff;
            background: $primary-alt-color;
        }
        &:hover,&:focus{
            color: $secondary-color;
            .ti{
                color: #fff;
                background: $secondary-color;
            }
        }
    }
    .rating{
        &-info{
            color: $lungwort-text-darker;
            span{
                color: $lungwort-text;
            }
            background: #634ff1;
        }
        &-title{
            background: #160977;
        }
    }
    .features{
        &-title-s4{
            color: $primary-alt-color;
        }
    }
    .benefits{
        &-icon{
            width: 160px;
        }
        &-txt{
            padding-left: 45px;
            padding-right: 65px;
        }
    }
    .token{
        &-details{
            &-list{
                border-color:#453fc9;
                li{
                    &:nth-child(even){
                        .token-details-title{
                            background: #25238f;
                        }
                        .token-details-info{
                            background: #261986;
                        }
                    }
                    &:nth-child(odd){
                        .token-details-title{
                            background: #302ab3;
                        }
                        .token-details-info{
                            background: #3221ad;
                        }
                    }
                }
            }
            &-title{
                color: $lungwort-text-darker;
            }
            &-info{
                color: $primary-alt-color;
            }
        }
        &-stage{
            background: $lungwort-bg-dark;
            &-title{
                background: #5d47ff;
            }
            &-pre{
                background: #735fff;
            }
            &-one{
                background: #6853ff;
            }
            &-date{
                border-color:#4631e0;
            }
            &-info{
                border-color:#4631e0;
            }
            &-bonus{
                color: $primary-alt-color;
            }
            &-cap{
                color: $lungwort-text;
            }
            &-amount{
                color: #fff;
            }
        }
        &-action{
            &-box{
                background: $lungwort-bg-dark;
            }
            &-title{
                background: $lungwort-bg-alt;
            }
        }
    }
    .document{
        &-item{
            background: $lungwort-bg-alt;
        }
        &-title{
            color: #fff;
        }
        &-links{
            li{
                a{
                    border-color: #d1ccff;
                }
            }
        }
    }
    .timeline{
        &-item{
            &:before,&:after{
                background: $primary-alt-color;
            }
        }
        &-date{
            color: $primary-alt-color;
            &:after{
                background: $primary-alt-color;
            }
            &:before{
                background: rgba($primary-alt-color,.23);
            }
        }
        &-title{
            color: #fff;
            &:before{
                border-right-color: $primary-alt-color;
            }
        }
        &-info{
            li{
                color: $lungwort-text-dark;
                &:after{
                    background: rgba($lungwort-text-dark,.3);
                }
            }
        }
        &-done{
            .timeline{
                &-title{
                    color: #fff;
                }
            }
        }
        &-current{
            .timeline{
                &-title{
                    color: #fff;
                }
            }
        }
        &-row{
            &:before{
                border-bottom-color:$primary-alt-color;
            }
            &:after{
                border-color:$primary-alt-color;
            }
            &-done{
                &:after{
                    border-color: $primary-alt-color;
                }
            }
        }
    }
    .team{
        &-circle{
            &-des{
                background: $lungwort-bg;
                h5{
                    color: #fff;
                }
                span{
                    color: $primary-alt-color;
                }
                p{
                    color: $lungwort-text-dark;
                }
            }
            &-social{
                li{
                    a{
                        color: $primary-alt-color;
                        &:hover{
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
    .tab-custom-s3{
        .nav-tabs{
            .nav-link{
                background: transparent;
                color: #fff;
                &.active{
                    color: $primary-alt-color;
                    background: rgba($primary-alt-color,.1);
                }
            }
        }
    }
    .accordion-s2{
        .card {
            background-color: $lungwort-bg;
            border: 2px solid rgba(#8777fe,.7);
            margin-bottom: 10px;
            &.active{
                border-color: rgba($primary-alt-color,.6);
            }
            &-header{
                a {
                    color: $primary-alt-color;
                    &.collapsed{
                        color: $lungwort-text;
                    }
                    &:hover{
                        color: $primary-alt-color;
                    }
                }
            }
        }
        .plus-minus {
            .ti {
                color: $primary-alt-color;
            }
        }
        .collapsed{
            .plus-minus {
                .ti{
                    color: rgba($primary-alt-color,.5);
                }
            }
        }
    }
    .input{
        &-border{
            color: #fff;
            border:2px solid rgba(#fff,.25);
            background: #271799;
            &::-moz-placeholder { 
                opacity:.8;
                color:rgba($lungwort-text,.7);
            }
            &:-ms-input-placeholder { 
                opacity:.8;
                color:rgba($lungwort-text,.7);
            }
            &::-webkit-input-placeholder { 
                opacity:.8;
                color:rgba($lungwort-text,.7);
            }
        }
    }
    .input-round-s2 {
        color: #6e7e98;
        background: #fff;
        border: 1px solid #fff;
        &::-moz-placeholder { 
            opacity:.8;
            color:rgba(#6e7e98,.7);
        }
        &:-ms-input-placeholder { 
            opacity:.8;
            color:rgba(#6e7e98,.7);
        }
        &::-webkit-input-placeholder { 
            opacity:.8;
            color:rgba(#6e7e98,.7);
        }
    }
    .subscribe-box{
        background-image: linear-gradient(-135deg, #4d3dbf 0%, #5a4bc8 100%);
    }
    .subscribe-section-s2:before {
        top: 50%;
        height: 50%;
        background: darken($lungwort-bg-alt,4%);
    }
    .loader-section{
        background: $lungwort-bg;
    }
    .subscribe-results {
        padding: 7px 20px;
    }
}

@media only screen and (max-width: 991px){
    io-lungwort{
        .timeline{
            &-title{
                &:before{
                    border-top-color:$primary-alt-color;
                }
            }
            &-row{
                &:before{
                    border-left-color:$primary-alt-color;
                }
            }
        }
    }
    .io-lungwort {
        .navbar-collapse.show:after {
            display: none;
        }
        .site-header .navbar.is-transparent.active {
            background: darken($lungwort-bg-alt,3%);
        }
    }
    .io-lungwort .lang-switch:before{
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .io-lungwort .site-header .navbar-btns {
        margin-left: 6px;
    }
}
@media only screen and (max-width: 767px){
    .io-lungwort {
        .team-circle-des{
            margin-left: 0;
            max-width: 100%;
        }
        img{
            width: 100%;
            max-width: 360px;
        }
    }
}
@media only screen and (max-width: 575px){
    .io-lungwort {
        .benefits-txt {
            padding-left: 0;
        }
    }
}
.banner-lungwort{
    padding-top: 30px;
    background: linear-gradient(135deg, #6757d4 0%, #190a85 100%);
    overflow: hidden;
    .countdown-box{
        position: relative;
        padding: 30px 20px 20px;
        margin: 50px 140px 0 0;
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            content: '';
            height: calc(100% - 76.5px);
            border-radius: 8px;
            background: rgba(#1a0c7e,.3);
        }
        .token-countdown .countdown-text{
            font-weight: 400;
            text-transform: capitalize;
            color: $primary-alt-color;
        }
    }
}

.header-image-lg{
    text-align: center;
    width: 1130px;
    margin:-100px 0 0 -110px;
    transition: all .5s;
}
@media only screen and (max-width: 1800px){
    .header-image-lg{
        width: 980px;
        margin:-70px 0 0 -110px;
    }
}
@media only screen and (max-width: 1400px){
    .header-image-lg{
        width: 830px;
        margin:-70px 0 0 -110px;
    }
}
@media only screen and (max-width: 1199px){
    .header-image-lg{
        width: 730px;
        margin:-50px 0 0 -70px;
    }
    .banner-lungwort{
        .countdown-box{
            margin: 50px 60px 0 0;
            max-width: 380px;
        }
    }
}
@media only screen and (max-width: 991px){
    .header-image-lg{
        width: 100%;
        margin:0;
        margin-bottom: 40px;
    }
    .banner-lungwort{
        .countdown-box{
            margin: 50px auto 30px;
            max-width: 360px;
        }
    }
}

// Features
.features{
    &-box-s4{
        position: relative;
        background: $lungwort-bg;
        border-radius: 6px;
        text-align: center;
        padding: 40px 30px 40px;
        margin-bottom: 20px;
        &:hover,&.active{
            .features-action{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    &-icon-s4{
        width: 160px;
        margin:0 auto 30px;
        img{
            width: 100%;
        }
    }
    &-title-s4{
        font-weight: 400;
        margin-bottom: 11px;
        color: $primary-alt-color;
    }
    &-subtitle-s4{
        color: #d1ccff;
        display: block;
        position: relative;
        padding-bottom: 23px;
        margin-bottom: 20px;
        &:after{
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -25px;
            height: 3px;
            width: 50px;
            content: '';
            background: $primary-alt-color;
        }
    }
    &-action{
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: -25px;
        margin-bottom: -25px;
        background: $primary-alt-color;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        opacity: 0;
        transform: translateY(20px);
        &:hover{
            color: #fff;
            background: $primary-color;
        }
    }
}

// Footer
.footer-lungwort{
    background: url(../images/lungwort-footer-bg.png) no-repeat bottom center, darken($lungwort-bg-alt,4%);
    background-size: cover;
    padding:60px 0 80px;
    .social{
        margin-bottom: 60px;
        li{
            a{
                color: #fff;
                background: $primary-color;
                &:hover{
                    color: #fff;
                    background: $secondary-color;
                }
                em{
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    .footer-logo{
        display: inline-block;
    }
    .copyright-text{
        margin-top: 18px;
        span{
            color: #fff;
        }
    }
}