$muscari-text:			#637097;
$muscari-heading:		#374574;
$primary-color:			#3455ff;
$primary-bg:			$primary-color;
$primary-alt-color:		#39a9ff;
$primary-dark-color:	#3399ff;
$secondary-color:		#ffc123; 

/** @Muscari @v121 */
.theme-muscari{
	background: #fff;
	.countdown-box{
		margin-left: 0;
		width: 100%;
		left: 0;
		background: $primary-bg;
		h6{
			color:#fff !important;
		}
		.countdown-time{
			color:#fff;
		}
		.countdown-text{
			color:rgba(#fff,.6);
		}
		&.countdown-transparent{
			background: rgba(darken($primary-color,20%),.8) !important;
		}
	}
	.token-status-point::after{
		background: rgba(255, 255, 255, 0.5);
	}
	.token-status-percent{
		background: $primary-alt-color;
	}
	.loader{
		&-section{
			background: darken(#fff,1%);
		}
	}
	.btn{
		background: $primary-bg;
		border-radius: 4px;
		&:hover{
			background: $secondary-color;
		}
		&:before{
			display:none;
		}
		&.btn-alt{
			background: $secondary-color;
			&:hover{
				background: $primary-alt-color;
			}
		}
		&.btn-plane{
			background: #fff;
			color:$primary-color;
			&:hover{
				color:#fff;
				background: $secondary-color;
			}
		}
		&.btn-simple{
			background: none;
			color: #fff;
			padding: 0 20px;
			.fa{
				color: $secondary-color;
			}
		}
		&.btn-white{
			background: #fff;
			color: $primary-color;
			&:hover{
				background: $secondary-color;
				color: #fff;
			}
		}
		&.btn-outline{
			background: transparent;
			border:2px solid $secondary-color;
			&:after{
				background: transparent;
			}
			&:hover{
				background: $secondary-color;
			}
		}
	}
	.site-header{
		&.has-fixed{
			.navbar{
				background: #fff;
				box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15);
				&-nav > li > a{
					color:$lavendar-text;
				}
				&.is-transparent .navbar-brand .logo-dark{
					display: block;
				}
				&.is-transparent .navbar-brand .logo-light{
					display:none;
				}
				.btn{
					&.btn-outline{
						border-color: $primary-color;
						color:$primary-color;
					}
				}
			}
		}
		.scroll-down{
			bottom:-90px;
		}
		.banner{
			//background: $primary-bg;
			min-height: auto !important;
			.banner-content{
				padding: 70px 0 110px;
			}
			
		}
	}
	.navbar .navbar-nav > li > a{
		margin: 0 15px;
	}
	.navbar-btns{
		margin: 0 -10px 0 10px;
		li{
			display: inline-block;
			margin: 0 0;
		}
		.btn{
			min-width: auto;
		}
	}
	.dropdown-toggle::after {
		display: inline-block;
		width: 10px;
		height: 38px;
		margin-left: .255em;
		font-family: 'themify';
		content: "\e64b";
		border: none;
		font-size: 10px;
		line-height: 38px;
		position: absolute;
		right: 0;
	}
	.navbar-toggler{
		background: $secondary-color;
	}
	.section-bg-light,[class*=section-bg-light]{
		background: #fff;
		color: $muscari-text;
		h1,h2,h3,h4,h5,h6{
			color: $muscari-heading;
		}
		.small-heading{
			text-transform: uppercase;
			letter-spacing: .2em;
			color: rgba($primary-color,.5);
		}
	}
	.section-bg-muscari{
		h1,h2,h3,h4,h5,h6,p{
			color: #fff;
		}
		.text-block{
			color:#fff;
			p:not(.lead) {
				color: #fff;
			}
			
			ul:not(.btns) li{
				color: #fff;
				&:before{
					background: $secondary-color;
				}
			}
		} 
	}
	.section-angle{
		+ .section-bg-light-alt{
			&:before{
				position: absolute;
				left: 0;
				top:-350px;
				height: 350px;
				width: 100%;
				content: '';
				background: #f7f8ff;
			}
		}
		&-top{
			&:before{
				position: absolute;
				left: 0;
				top:0;
				height: 350px;
				width: 100%;
				content: '';
				background: #f7f8ff;
				z-index: 1;
			}
			&:after{
				position: absolute;
				left: 0;
				bottom:-350px;
				height: 350px;
				width: 100%;
				content: '';
				background: #f7f8ff;
				z-index: 1;
			}
		}
		&-bottom{
			&:before{
				position: absolute;
				left: 0;
				top:-350px;
				height: 350px;
				width: 100%;
				content: '';
				background: #fff;
				z-index: 2;
			}
		}
	}
	.section-bg-light-alt{
		+ .section-angle{
			&:before{
				position: absolute;
				left: 0;
				top:0;
				height: 350px;
				width: 100%;
				content: '';
				background: #f7f8ff;
			}
		}
	}
	.section-bg-light-alt{
		background-color: #f7f8ff;
	}
	.section-muscari{
		background: $primary-bg;
	}
	.text-block{
		color:$muscari-heading;
		p:not(.lead) {
			color: $muscari-text;
		}
	} 
	.header-partners{
		margin-top: -30px;
	}
	.token-section::after {
		display:none;
	}
	.roadmap{
		&-carousel{
			&-withnav{
				&:before,&:after{
					background: lighten($primary-dark-color,25%);
				}
			}
			&-container{
				&:before{
					background: lighten($primary-dark-color,25%);
				}
			}
		}
		&-item{
			h6{
				&:before{
					background: rgba($primary-dark-color,.3);
				}
				&:after{
					background: $primary-dark-color;
				}
			}
		}
		&-done{
			h6{
				&:before{
					background: rgba($primary-color,.3);
				}
				&:after{
					background: $primary-color;
				}
			}
		}
	}
	.contact-section{
		overflow: visible;
	}
	.footer-fix{
		margin-top: -350px;
	}
	.copyright-text{
		color:#fff;
		span{
			color:rgba(#fff,.6);
		}
		a{
			color:#fff;
			&:hover{
				color:$secondary-color;
			}
		}
	}
	.footer-subscription .input-round {
		color: #fff;
		background: rgba($primary-alt-color,.5);
		border: 1px solid transparent;
		border-radius: 5px;
		line-height: 52px;
		width: 100%;
		padding-left: 15px;
		outline: none;
		transition: all .5s ease;
	}
	.social li a {
		color: $primary-color;
		background: #fff;
		&:hover{
			color: #fff;
			background: $secondary-color;
		}
	}
	.link-widget li a,.footer-links li a{
		color: rgba(#fff,.6);
		&:hover{
			color:#fff;
		}
	}
}
@media only screen and (max-width: 1024px){
	.theme-muscari{
		.navbar .navbar-nav > li > a{
			margin: 0 10px;
		}
		.site-header .scroll-down{
			bottom: -20px;
		}
	}
}
@media only screen and (max-width: 991px){
	.theme-muscari{
		.site-header .navbar-collapse{
			padding-bottom: 20px;
		}
	}
}
@media only screen and (max-width: 767px){
	.theme-muscari{
		.site-header .banner .banner-content{
			padding: 30px 0 40px;
		}
	}
}
.btn{
	&.btn-lg{
		padding: 5px 40px;
		border-radius: 4px;
	}
}
.header{
	&-image-muscari{
		margin: 0 -95px;
	}
	&-angle-bg{
		position: absolute;
		left: 0;
		top:-100%;
		height: 200%;
		width: 100%;
		content: '';
		background: $primary-bg;
		transform: skewY(17deg);
		z-index: 1;
		overflow: hidden;
		.particles-container {
			transform: skewY(-17deg); //@v131
		}
	}
}
.overlay{
	&-bubble{
		position: absolute;
		top:0;
		left: 0;
		height: 100%;
		width: 100%;
		div{
			position: absolute;
			border-radius: 50%;
			background: rgba(#fff,.05);
			transform: skewY(-17deg);
		}
		&-1{
			height: 735px;
			width: 735px;
			right: calc(50% - 65px); 
			top:calc(50% + 10px);
		}
		&-2{
			height: 680px;
			width: 680px;
			right: calc(50% + 360px);
			top: calc(50% - 145px);
		}
		&-3{
			height: 350px;
			width: 350px;
			right: calc(50% - 95px);
			top: calc(50% + 540px);
		}
		&-4{
			height: 650px;
			width: 650px;
			left: calc(50% + 435px);
			top: calc(50% - 240px);
		}
		&-5{
			height: 350px;
			width: 350px;
			left: calc(50% + 490px);
			top: calc(50% + 240px);
		}
		&-6{
			height: 440px;
			width: 440px;
			left: calc(50% + 685px);
			top: calc(50% + 240px);
		}
	}
}
.overlay{
	&-bar{
		&s{
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			overflow: hidden;
			div{
				position: absolute;
				background: rgba(#fff,0.03);
				transform: rotate(-15deg);
			}
			&.reverse{
				transform: scaleX(-1);
			}
		}
		&-1{
			height: 140%;
			width: 300px;
			left: calc(50% - 210px);
			top:-20%;
		}
		&-2{
			height: 100%;
			width: 160px;
			left: calc(50% - 170px);
			bottom: calc(50% + 155px);
		}
		&-3{
			height: 100%;
			width: 230px;
			left: calc(50% - 90px);
			top: calc(50% + 280px);
		}
		&-4{
			height: 140%;
			width: 300px;
			left: calc(50% - 860px);
			top:-20%;
			transform: rotate(-15deg);
		}
		&-5{
			height: 140%;
			width: 160px;
			left: calc(50% - 910px);
			top:-20%;
		}
		&-6{
			height: 140%;
			width: 300px;
			left: calc(50% + 530px);
			top:-20%;
		}
		&-7{
			height: 140%;
			width: 300px;
			left: calc(50% + 670px);
			top:-20%;
		}
		
	}
}

.ex-sm-head{
	text-transform: uppercase;
	font-weight: 500;
	font-size: .81em;
	line-height: 1.1;
	color:rgba($muscari-heading,.7);
}

.partner-list-s3{
	li{
		margin-bottom: 15px;
	}
}
.section{
	&-bg-angle{
		position: absolute;
		left: 0;
		top:0;
		height: 100%;
		width: 100%;
		content: '';
		transform: skewY(17deg);
		z-index: 1;
	}
	&-bg-patern{
		&.section-bg-light{
			background: url(../images/pattern-muscari-light.png), #fff;
			background-size: 100%;
			background-position:top 130px center;
			background-repeat: no-repeat;
		}
		&.section-bg-light-alt{
			background: url(../images/pattern-muscari-light.png), #f7f8ff;
			background-size: 100%;
			background-position:top 130px center;
			background-repeat: no-repeat;
		}
	}
	&-head-s4{
		padding-bottom: 50px;
	}
	&-head-s5{
		padding-bottom: 55px;
		.section-title{
			position: relative;
			padding-bottom: 26px;
			&:after{
				position: absolute;
				left: 50%;
				bottom:0;
				content: '';
				margin-left: -40px;
				width: 80px;
				height: 6px;
				border-radius:3px;
				background: $primary-alt-color;
			}
			.section-bg-muscari & {
				&:after{
					background: $secondary-color;
				}
			}
		}
	}
	
}
@media only screen and (max-width: 991px){
	.header-image-muscari{
		margin: 0 -15px;
	}
}
@media only screen and (max-width: 1024px){
	.section-bg-angle{
		transform: skewY(10deg);
	}
	.header-bg-angle{
		transform: skewY(10deg);
	}
	.theme-muscari{
		.banner-tokensale .countdown-box{
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.countdown-box{
			margin-left: auto;
		}
	} 
	.overlay-bubble{
		top:190px;
		transform: scale(.5) skewY(-10deg);
		div{
			transform: skewY(-10deg);
		}
	}
}
@media only screen and (max-width: 767px){
	.btn.btn-lg{
		padding: 0 25px;
		font-size: 12px;
	}
}
// Text Block
.text-box{
	padding-right: 30px;
	border-radius: 6px;
	h6{
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 8px;
		color:$secondary-color !important;
	}
	&.text-box-bg{
		padding: 40px 30px;
		background: rgba(#000,.2);
	}
}

// RoadMap
.roadmap{
	&-carousel-withnav{
		padding:0 40px;
		position: relative;
		&:before,&:after{
			position: absolute;
			height: 12px;
			width: 12px;
			border-radius: 50%;
			content: '';
			top:42px;
		}
		&:before{
			left: 0;
		}
		&:after{
			right: 0;
		}
		.owl-nav {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
		}
		.owl-prev,.owl-next {
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
			height: 52px;
			width: 52px;
			font-size: 36px;
			line-height: 52px;
			text-align: center;
			color: rgba($primary-color,.3);
			transform: translateY(50%);
		}
		.owl-prev {
			left: -50px;
		}
		.owl-next {
			right: -50px;
		}
		
	}
}

@media only screen and (max-width: 1024px){
	.roadmap-carousel-container{
		margin: 0 40px;
	}
}
@media only screen and (max-width: 767px){
	.roadmap-carousel-container{
		margin: 0 30px;
	}
	.roadmap-item{
		padding: 0;
	}
}
// Team Member
.team{
	&-member{
		background: rgba($primary-dark-color,.1);
		.team-social{
			li{
				a{
					color: $primary-alt-color;
					&:hover{
						color:$secondary-color;
					}
				}
			}
		}
		.team-title{
			color: $primary-color;
		}
		.team-photo{
			&:before{
				background: rgba($primary-color,.4);
			}
			&:after{
				background: $secondary-color;
			}
		}
	}
	
}

// Faq
.section-bg-light{
	.tab-custom-s2 .nav-tabs{
		li > {
			a{
				opacity: 1;
				color: $muscari-text;
				&.active{
					color:$primary-color;
					border-bottom-color: $primary-color;
				}
			}
		}	
	}
} 
.section-bg-light,.section-bg-light-alt{
	.form-message .input-field{
		.input-line{
			color:$muscari-text;
			border-bottom-color: rgba(#ccd4ff,.6);
		}
		.input-title{
			color:rgba($primary-color,.5);
		}
	} 
}
.section-bg-light{
	.contact-info-alt li .fa{
		color: $primary-color;
		background: $primary-color;
		&:after{
			background: #fff;
		}
	}
} 
.section-bg-light-alt{
	.contact-info-alt li .fa{
		color: $primary-color;
		background: $primary-color;
		&:after{
			background: #f7f8ff;
		}
	}
} 