/*! 02.0 - RESET */
body {
	font-family: $font-primary;
	color: $default-color;
	@include fonts($font-size, $font-height, $font-weight);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}
body{
	color: #fff;
	background: $dark-bg;// @v1.1.0
	&.theme-light,&.io-dark-light .section-light,&.io-dark-light .section-light-alt {
		color: $heading-color-light;
		background: $light-bg-alt;// @v1.1.0
	}
	// @v1.1.0
	&.io-azure{
		background: $azure-bg;
	}
	&.io-azure .section-pro, &.io-azure .section-pro-alt{
		color:$text-azure-alt;
	}
}

html,body{
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, table{
	margin: 0 0 $mgpd*0.9;
	&:last-child {
		margin-bottom: 0;
	}
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.33;
	font-weight: 600;
	color: $heading-color;
	&.color-secondary {
		color: $secondary-color;
	}
	&.color-primary {
		color: $primary-color;
	}
	& + .image:not([class*="mt-"]) {
		margin-top: $mgpd;
	}
}
.theme-light,.io-dark-light .section-light,.io-dark-light .section-light-alt{
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		line-height: 1.33;
		font-weight: 500;
		color: $heading-color-light;
		&.color-secondary {
			color: $secondary-color;
		}
		&.color-primary {
			color: $primary-color;
		}
		& + .image:not([class*="mt-"]) {
			margin-top: $mgpd;
		}
	}
}
.io-azure {
	.section-pro,
	.section-pro-alt{
		h1, h2, h3, h4, h5, h6, blockquote {
			color:$heading-azure;
		}
	}
}
h1, .h1{
	font-size: 2.93em;
}
h2, .h2{
	font-size: 2.3em;
}
h3, .h3{
	font-size: 1.87em;
}
h4, .h4{
	font-size: 1.6em;
}
h5, .h5{
	font-size: 1.33em;
}
h6, .h6{
	font-size: 1.07em;
}
p{
	font-size: 1em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
	&.color-secondary {
		color: $secondary-alt-color;
	}
	&.color-primary {
		color: $primary-color;
	}
	&.color-alt-primary {
		color: $primary-alt-color;
	}
}
p.lead{
	font-size: 1.27em;
	line-height: 1.68;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,p span{
	color: $primary-color;
}
ul , ol{
	padding: 0px;
	margin: 0px;
	li{ 
		list-style: none;
	}
}
.lead {
	line-height: 1.6;
}
.relative{
	position: relative;
}
.lh-x1 {
	line-height: 1;
}
.lh-x2 {
	line-height: 1.5;
}
.lh-x3 {
	line-height: 2;
}
blockquote {
	font-size:1em;
	line-height:1.625;
	margin: $mgpd-md 0;
	border:none;
	color: $default-color;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	p:last-child strong {
		color: $primary-color;
	}
}
p, ul, ol, table  {
	&+h1,&+h2,&+h3,&+h4,&+h5,&+h4 {
		margin-top: $mgpd*1.75;
	}
}
ul + p, ul + ul, ul + ol, ol + ol, ol + ul, ul + table, ol + table {
	margin-top: $mgpd*1.75;
}
b, strong {
	font-weight: 600;
}
a{
	outline: 0;
	transition: all 0.5s;
	color: $primary-color;
	&:link, &:visited{
    	text-decoration: none;
	}
	&:hover, &:focus, &:active{
		outline: 0;
		color: $secondary-alt-color;
	}
}
.container{
	position: relative;
	z-index: 5;
}
.section-bg {
	background: $dark-bg;
	.theme-light & {
		background: $light-bg;
	}
	.io-azure & {
		background: $azure-bg;
	}// @v1.1.0
}
.section-bg-alt {
	background: $dark-bg-alt;
	.theme-light & {
		background: $light-bg-alt;
	}
	.io-azure & {
		background: $azure-bg-alt;
	}// @v1.1.0
}
.section-bg-dark {
	background: $dark-bg-darker;
	.theme-light & {
		background: $light-bg-darker;
	}
	.io-azure & {
		background: $azure-bg-dark;
	}// @v1.1.0
}
.section-bg-blend{
	background-image: linear-gradient(to bottom, #0c0f2a 0%, $dark-bg-alt 70%);
	.theme-light & {
		background-image:linear-gradient(to bottom, #eef4fe 0%, $light-bg-alt 70%);
	}
	
}
.section-bg-atob{
	background-image: linear-gradient(to bottom, $dark-bg 0%, $dark-bg-alt 70%);
	.theme-light & {
		background-image:linear-gradient(to bottom, $light-bg 0%, $light-bg-alt 70%);
	}
}
.section-bg-btoa{
	background-image: linear-gradient(to bottom, $dark-bg-alt 0%, $dark-bg 70%);
	.theme-light & {
		background-image:linear-gradient(to bottom, $light-bg-alt 0%, $light-bg 70%);
	}
}

.section-pro,.section-light{
	background: #fff !important;
}
.section-pro-alt,.section-light-alt{
	background: $pro-bg-alt !important;
}

.section-bg,.section-bg-alt{
	&.section-gradiant{
		background-image: -webkit-linear-gradient(top left, #290075 0%, #086ddf 100%);
		background-image: -o-linear-gradient(top left, #290075 0%, #086ddf 100%);
		background-image: linear-gradient(to bottom right, #290075 0%, #086ddf 100%);
		&:after{
			opacity:0;
		}
	}
}

h1, h2, h3, h4, h5, h6, blockquote {
	color: #fff;
	&.color-secondary {
		color: $secondary-color;
	}
	&.color-primary {
		color: $primary-color;
	}
	&.color-alt-primary {
		color: $primary-alt-color;
	}
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10000;
	.theme-light &{
		background-color:$light-bg;
	}
}

.color-primary {
	color: $primary-color;
}
.color-default {
	color: $default-color;
}
.color-heading {
	color: $heading-color;
}
.color-secondary {
	color: $secondary-color;
}
.color-alternet {
	color: $alternet-color;
}
.bg-white {
	background: #fff;
}
.bg-primary {
	background: $bg-primary;
}
.bg-secondary {
	background: $bg-secondary;
}
.bg-alternet {
	background: $bg-alternet;
}
.bg-light-primary {
	background-color: rgba($bg-primary, .1);
}
.bg-light-secondary {
	background-color: rgba($bg-secondary, .1);
}
.bg-light-alternet {
	background-color: rgba($bg-alternet, .1);
}
.bdr {
	border: 1px solid rgba(0,0,0,0.04);
	&-y {
		border-top: 1px solid rgba(0,0,0,0.04);
		border-bottom: 1px solid rgba(0,0,0,0.04);
	}
	&-x {
		border-left: 1px solid rgba(0,0,0,0.04); 
		border-right: 1px solid rgba(0,0,0,0.04);
	}
	&-top {
		border-top: 1px solid rgba(0,0,0,0.04);
	}
	&-bottom {
		border-bottom: 1px solid rgba(0,0,0,0.04);
	}
	&-none {
		border-color: transparent;
	}
}
.overflow{
	overflow: hidden;
}
.animated{
	visibility:hidden;
}
.preload{
	display: none;
}
.navbar-toggle{
	margin-right: 0px;
}
.carousel-control{
	visibility:hidden;
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	opacity: 0;
	width: 60px;
	&.left, &.right{
		background-image:none;
		filter:none;
	}
	.glyphicon-chevron-left, .glyphicon-chevron-right{
		width: 60px;
		height: 60px;
		padding-top: 0;
		@include border-radius(50px);
		font-family: 'FontAwesome';
		text-shadow: none;
		font-size: 44px;
		margin-top: -30px;
		&:hover{
			background:transparent;
		}
	}
	.glyphicon-chevron-left{
		left:10%;
		&:before{
			content:'\f104';
		}
	}
	.glyphicon-chevron-right{
		right:10%;
		&:before{
			content:'\f105';
		}
	}
}
.video-box {
	position: relative;
	margin-top: 40px;
	padding-top: 56%;
	iframe{
		border:1px solid #fbfbfb;
		@include border-radius();
		position: absolute;
		top: 0; 
		width: 100%;
		height: 100%;
		left: 0;
	}
}
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #eee;
	border:none; 

}
.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: transparent;
    border:0px;
}
.panel-title {
    font-size: 20px;
    > a {
	    display: block;
	    padding: 15px;
	    text-decoration: none;
	}
}
.more-less {
    float: right;
    color: #212121;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}
.table-responsive{
	margin-bottom: $mgpd-md;
	&:last-child, .table{
		margin-bottom: 0;
	}
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-color: #ececec;
}
.table.bdr-top, .table.bdr-bottom {
	border-color: #ececec;
}
.table-s1>tbody>tr>td, .table-s1>tbody>tr>th, .table-s1>tfoot>tr>td, .table-s1>tfoot>tr>th, .table-s1>thead>tr>td, .table-s1>thead>tr>th {
	padding: $mgpd;
}
.table-vertical>tbody>tr>td {
	vertical-align: middle;
}

.logo-carousel .owl-dots {
	display: none !important;
}
.owl-theme .owl-nav{
	margin-top: 0;
}
.hr-line{
	height: 1px;
	background: #ebebeb;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
	h2, .h2 {
		font-size: 2em;
	}
}
@media only screen and (max-width : 991px) {
	body{
		font-size: 14px;
		-webkit-text-size-adjust:100%;
	}
	.container{
		max-width: 720px;
	}
	h2, .h2{
		font-size: 2em;
	}
	.res-m-btm{
		margin-bottom: 30px;
	}
}
@media only screen and (max-width : 767px) {
	.container{
		padding-left: 20px;
		padding-right: 20px;
		max-width: 100%;
	}
	.accordion {
		.panel-title {
			font-size: 1.125em;
			font-weight: 400;
		}
	}
	h1, .h1{
		font-size: 2.1em;
	}
}
@media only screen and (max-width : 480px) {
	body {
		min-width: 320px;
	}
	h1, .h1, .heading-lg, .heading-lg-lead{
		font-size: 1.5em;
	}
	h2, .h2{
		font-size: 1.4em;
	}
	h3, .h3{
		font-size: 1.3em;
	}
	h5, .h5{
		font-size: 1em;
	}
}
@media only screen and (max-width : 375px) {
	.btn + .btn{
		margin-top: 5px;
	}
} 
