
$dark-bg:           #14163e;
$dark-bg-alt:		#0b0c22;
$light-bg:			#eff6ff;
$light-bg-alt:		#fff;

.small-heading{
    display: block;
    text-transform: uppercase;
    font-size: .8em;
    line-height: 1;
    letter-spacing: 0.2em;
    color: $primary-color;
    margin-bottom: 20px;
}
.or-saparator{
    position: relative;
    &:before{
        position: absolute;
        top:50%;
        left: 0;
        height: 1px;
        margin-top: 1px;
        width: 100%;
        content: '';
        background: rgba(#f6f6f6,0.1);
        z-index: 1;
    }
    span{
        position: relative;
        display:inline-block;
        text-transform: uppercase;
        font-size: 0.81em;
        padding: 0 8px;
        background: $dark-bg;
        color: #8284a8;
        z-index: 2;
    }
    .theme-light &{
        &:before{
            background: rgba(#28384c,0.1);
        }
        span{
            background: #fff;
        }
    }
}
.simple-link{
    font-size: 0.81em;
}
.icon-btns{
    margin: 0 -10px 10px;
    li{
        display: inline-block;
        width: 49%;
        padding: 5px 10px;
        a{
            width: 100%;
        }
    }
}
.btn-icon{
    font-size: 13px;
    text-align: center;
    color:#fff;
    display:inline-block;
    line-height: 20px;
    padding: 9px 5px;
    border-radius: 19px;
    [class*=fa-]{
        font-size: 13px;
        margin:0 7px;
    }
    &:hover{
        color: #fff;
    }
}
.btn-facebook{
    background: #3b5998;
}
.btn-google{
    background: #d85040;
}
.language-switcher.dropup > a::after {
	transform: rotate(180deg);
}

@media only screen and (max-width : 420px){
    .icon-btns{
        li{
            width: 100%;
        }
    }
}
// Gutters
@for $gutter from 1 through 5 {
    .gutter-#{$gutter}0 {
        margin-right: - (5px * $gutter);
        margin-left: - (5px * $gutter);
        > .col,
        > [class*="col-"] {
            padding-right:  (5px * $gutter);
            padding-left:  (5px * $gutter);
        }
    }
}

.input{
    &-item{
        position: relative;
        margin-bottom: 10px;
    }
    &-line-simple{
        border: none;
        width: 100%;
        line-height: 19px;
        padding: 15px 0;
        background: transparent;
        border-bottom:1px solid $primary-color;
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &::-moz-placeholder { 
            opacity:1;
            color:#8284a8;
        }
        &:-ms-input-placeholder { 
            opacity:1;
            color:#8284a8;
        }
        &::-webkit-input-placeholder { 
            opacity:1;
            color:#8284a8;
        }
    }
    &-border-simple{
        width: 100%;
        line-height: 18px;
        font-size: .93em;
        padding: 13px 33px;
        background: transparent;
        border-radius: 4px;
        border:2px solid rgba(#2b63fe,.2);
        margin-bottom: 5px;
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &::-moz-placeholder { 
            opacity:.8;
            color:#8284a8;
        }
        &:-ms-input-placeholder { 
            opacity:.8;
            color:#8284a8;
        }
        &::-webkit-input-placeholder { 
            opacity:.8;
            color:#8284a8;
        }
        + [class*="fa-"]{
            position: absolute;
            left: 0;
            top:0;
            font-size: .93em;
            line-height: 18px;
            padding: 15px 0;
            width: 35px;
            text-align: center;
            color: rgba(#1b57fe,.4);
        }
    }
}
.input{
    &-checkbox,
    &-radio{
        position: absolute;
        opacity: 0;
        + label{
            font-size: 0.81em;
            color: #9b9fe0;
            padding:5px 0 5px 24px;
            position: relative;
            cursor: pointer;
            &:before{
                position: absolute;
                left: 0;
                top: 9px;
                content: '';
                height: 14px;
                width: 14px;
                border-radius: 2px;
                border:2px solid rgba(43,99,254,0.2);
            }
            &:after{
                position: absolute;
                left: 0;
                top: 9px;
                font-family:themify;
                content: "\e64c";
                font-weight: 700;
                height: 14px;
                width: 14px;
                font-size: 8px;
                text-align: center;
                opacity: 0;
                transition: all .4s;
            }
        }
        &:checked + label{
            &:after{
                opacity:1;
            }
        }
    }
    &-radio{
        + label{
            &:before{
                border-radius: 7px;
            }
        }
    }
}

.form{
    &-note{
        font-size: 0.81em;
        color: #8284a8;
        a{
            color: #9b9fe0;
            border-bottom: 1px solid;
        }
    }
    &-heading{
        display: block;
        text-align: center;
        font-size: .93em;
        line-height: 1.71;
        color: #28384c;
        padding: 23px 15px;
    }
    &-link{
        font-size: .87em;
        color: #2b63fe;
    }
    &-footer{
        padding: 0 30px;
        font-size: .8em;
        color: #8284a5;
        .theme-dark &{
            color: #fff;
        }
        &-links{
            margin: 0 -7px;
            li{
                display:inline-block;
                margin: 0 7px;
                a{
                    color: #8284a5;
                    &:hover{
                        color: #2b63fe;
                    }
                }
            }
            .theme-dark &{
                li{
                    a{
                        color: #fff;
                        &:hover{
                            color: #2b63fe;
                        }
                    }
                }
            }
        }
    }
}
.user{
    &-logo{
        margin-bottom: 15px;
    }
    &-graphics{
        position: absolute !important;
        top:50%;
        width: 100%;
        margin: -45px -35px 0 20px;
        .user-pro-box-s2 &{
            margin: -65px -20px 0 -20px;
            width: 115%;
        }
    }
    &-page{
        min-height: 100vh;
        padding: 40px 0;
        position: relative;
        .theme-dark &{
            background: url(../images/bg-login-dark.png) no-repeat 50% 50%, $dark-bg-alt;
            background-size: cover;
        }
        .theme-light &{
            background: url(../images/bg-login-dark.png) no-repeat 50% 50%, $light-bg;
            background-size: cover;
        }
        .io-light-pro &{
            background: #eff6ff;
        }
        .io-azure &{
            background: #0043b9;
            &:before{
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                content: '';
                background-image: linear-gradient(-225deg, #290075 0%, transparent 100%);
            }
        }
        .io-lobelia &{
            background: #0a1992;
            &:before{
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                content: '';
                background-image: linear-gradient(-125deg, #020847 0%, transparent 100%);
            }
        }
        &-box{
            background: $dark-bg;
            padding: 60px;
            border-radius: 4px;
            position: relative;
            .theme-light &{
                background: #fff;
            }
            &:after{
                position: absolute;
                left: 0;
                top: 0;
                height: 5px;
                width: 100%;
                content: '';
                background: repeating-linear-gradient(90deg, #00bffa 0%, #00bffa 33.34%, #1b57fe 33.35%, #1b57fe 66.68%, #8255fd 66.69%, #8255fd 100%);
                background-size: 50.5%;
                overflow: hidden;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            h5{
                text-transform: uppercase;
                margin-bottom: 33px;
            }
        }
    }
    &-pro{
        &-box{
            background: #fff;
            border-radius: 6px;
            overflow: hidden;
            transition:all .4s;
            &-s2{
                background: #1808b4;
                padding: 26px 56px 26px 30px;
                box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.04);
                .io-lobelia &{
                    background: darken(#0a1992,8%);
                }
            }
        }
        &-info{
            position: relative;
            background: #2b63fe;
            height: 100%;
            border-radius: 6px 0 0 6px;
            padding: 50px 0 0 0;
            margin-right: -20px;
            .io-lavendar &{
                background: #5d46e8;
            }
            > div{
                z-index: 5;
                position: relative;
            }
            &:before{
                position: absolute;
                top: 0;
                right: 0;
                height: 140%;
                width: 280px;
                border-radius: 50%;
                background: #fff;
                content: '';
                transform: translate(230px, -14.28%);
                z-index: 1;
            }
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                width: 70%;
                height: 100%;
                content: '';
                background: url(../images/user-shape.png) no-repeat;
                background-size: contain;
            }
            .language-switcher{
                position: absolute;
                left: 12px;
                bottom: 21px;
                &:before{
                    display:none;
                }
            }
            .io-mascari &{
                margin-right: -30px;
                &:before{
                    border-radius: 0;
                    transform: translate(230px, -14.28%) skewX(10deg);
                    z-index: 1;
                }
            }
            .user-pro-box-s2 &{
                background: transparent;
                padding-top: 25px;
                &:before{
                    display: none;
                }
                &:after{
                    top: -26px;
                    left: -30px;
                    width: 90%;
                    background: url(../images/user-shape-b.png) no-repeat;
                    background-size: contain;
                }
                .language-switcher{
                    left: -15px;
                    bottom: 0;
                }
            }
        }
        &-form{
            position: relative;
            z-index: 3;
            padding: 65px 90px 65px 60px;
            color: #8284a5;
            min-height: 572px;
            span{
                font-size: .87em;
            }
            .simple-link{
                color: #28384c;
                font-size: 1em;
                &:hover{
                    color: #2b63fe;
                }
            }
            .nav-tabs{
                border-bottom-color: #eef5ff;
                .nav-link {
                    border: 1px solid #eef5ff;
                    padding: 15px 35px;
                    line-height: 20px;
                    background: #eef5ff;
                    color: rgba(#28384c,.7);
                    margin: 0 10px -1px;
                    &.active{
                        border-bottom-color:#fff;
                        background: transparent;
                    }
                }
            }
            .user-pro-box-s2 &{
                background: #fff;
                border-radius: 10px;
                padding: 40px 30px;
                margin-left: 40px;
            }
        }
    }
}
@media only screen and (min-width :1199px)  and (max-width :1440px) and (max-height :700px) {
    .user{
        &-page{
            &-box{
                padding:30px 60px;
            }
        }
        &-pro{
            &-form{
                padding: 30px 90px 30px 60px;
                min-height: 502px;
                .user-pro-box-s2 &{
                    padding: 25px 30px;
                }
            }
        }
    }
}
@media only screen and (max-width :991px){
    .user{
        &-graphics{
            .user-pro-box-s2 &{
                position: static !important;
                margin: 0;
                width: 100%;
                max-width: 320px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-pro{
            &-box{
                &-s2{
                    text-align: center;
                    padding: 10px;
                }
            }
            &-info{
                .user-pro-box-s2 &{
                    background: transparent;
                    padding-top: 25px;
                    &:before{
                        display: none;
                    }
                    &:after{
                        top: -26px;
                        left: -30px;
                        width: 90%;
                        background: url(../images/user-shape-b.png) no-repeat;
                        background-size: contain;
                    }
                    .language-switcher{
                        position: static;
                    }
                }
            }
        }
        &-pro{
            &-form{
                padding: 40px 30px 40px 30px;
                .nav-tabs{
                    .nav-link {
                        padding: 15px 20px;
                        line-height: 20px;
                        margin: 0 8px -1px;
                    }
                }
                .user-pro-box-s2 &{
                    border-radius: 10px;
                    padding: 40px 30px;
                    margin-left: 0;
                }
            }
        }
    }
}
@media only screen and (max-width : 767px){
    .user{
        &-graphics{
            position: static !important;
            margin: 0;
            padding: 10px;
        }
        &-page{
            height: auto;
            min-height: 100vh;
            padding: 60px 0;
            &-box{
                padding: 30px;
                h5{
                    margin-bottom: 20px;
                }
            }
        }
        &-pro{
            &-box{
                &-s2{
                    text-align: center;
                    padding: 10px;
                }
            }
            &-info{
                border-radius: 6px 0 0 0;
                margin-right: 0;
                &:before{
                    display: none;
                }
                .language-switcher{
                    position: static;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 812px) and (orientation: landscape){
    .user{
        &-page{
            height: auto;
            min-height: 100vh;
            padding: 60px 0;
        }
    }
}

.page{
    &-error{
        position: relative;
        height: 100vh;
        background: url(../images/bg-404.png) no-repeat 50% 50%, $dark-bg-alt;
        background-size: cover;
        overflow: hidden;
        .theme-light &{
            background-color: $light-bg;
        }
        .io-azure &{
            background-color: transparent;
            &:before{
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                content: '';
                background-image: linear-gradient( -225deg, rgb(41,0,117) 0%, rgba(9,109,223,0) 100%);
                z-index: -1;
            }
        }
    }
}

.error{
    &-text-large{
        font-size: 250px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 17px;
        background: -webkit-linear-gradient(#0e7dee, #093b76);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: .5;
        .theme-light &,.io-azure &{
            background: -webkit-linear-gradient(#107ef4, #114fc2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-content{
        position: relative;
        p{
            margin-bottom: 28px;
            color: $text-light;
        }
    }
    &-graphics-one,&-graphics-two{
        position: absolute;
        z-index: -1;
    }
    &-graphics-one{
        width:250px;
        top:20%;
        right: 100%;
        margin-right: 65px;
    }
    &-graphics-two{
        width:200px;
        left: 100%;
        top:50%;
        margin-left: 40px;
    }
}
.footer-small{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 40px;
    .copyright-text{
        margin-top: 20px;
    }
}
@media only screen and (max-width : 991px){
    .error{
        &-text-large{
            font-size: 200px;
        }
        &-content{
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
        }
        &-graphics-one{
            width:200px;
            margin-right: 15px;
        }
        &-graphics-two{
            width:180px;
            margin-left: 15px;
        }
    }
}
@media only screen and (max-width : 767px){
    .error{
        &-text-large{
            font-size: 140px;
        }
        &-content{
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
        &-graphics-one{
            width:150px;
            margin-right: 15px;
        }
        &-graphics-two{
            width:130px;
            margin-left: 15px;
        }
    }
}
@media only screen and (max-width : 480px){
    .error{
        &-text-large{
            font-size: 70px;
        }
        &-content{
            margin-top: -60px;
        }
        &-graphics-one{
            margin-right: -30px;
        }
        &-graphics-two{
            margin-left: -30px;
        }
    }
}
@media only screen and (min-width :1199px)  and (max-width :1440px) and (max-height :700px) {
    .error-content{
        margin-top: -40px;
    }
    .error-text-large{
        font-size: 150px;
    }
}
@media only screen and (max-width: 812px) and (orientation: landscape){
    .page{
        &-error{
            height: auto;
        }
    }
    .error{
        &-content{
            padding: 100px 0 160px;
        }
    }
}