/*!
Template :	ICO Crypto @by Softnio
Preset   :	Default
Version	 :	1.3.1
Updated	 :	07.09.2018
*/
$primary-color: 		#46bdf4;
$secondary-color:		#7a0fff;
$secondary-alt-color:	#8255fd;
$primary-alt-color:		#2b56f5;

$bg-primary:	$primary-color;
$bg-secondary:	$secondary-color;

$gradiant-one:	linear-gradient(to right, $primary-alt-color 0%, $primary-color 100%);
$gradiant-two:	linear-gradient(to right, $primary-color 0%, $secondary-color 100%);

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	&.color-secondary {
		color: $secondary-color;
	}
	&.color-primary {
		color: $primary-color;
	}
}
.theme-light{
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		&.color-secondary {
			color: $secondary-color;
		}
		&.color-primary {
			color: $primary-color;
		}
	}
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
	&.color-secondary {
		color: $secondary-alt-color;
	}
	&.color-primary {
		color: $primary-color;
	}
	&.color-alt-primary {
		color: $primary-alt-color;
	}
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,p span{
	color: $primary-color;
}
a{
	color: $primary-color;
	&:hover, &:focus, &:active{
		color: $secondary-alt-color;
	}
}
.theme-dark,
.light{
	h1, h2, h3, h4, h5, h6, blockquote {
		&.color-secondary {
			color: $secondary-color;
		}
		&.color-primary {
			color: $primary-color;
		}
		&.color-alt-primary {
			color: $primary-alt-color;
		}
	}
}
.color-primary {
	color: $primary-color;
}
.color-secondary {
	color: $secondary-color;
}
.bg-primary {
	background: $bg-primary;
}
.bg-secondary {
	background: $bg-secondary;
}
.bg-light-primary {
	background-color: rgba($bg-primary, .1);
}
.bg-light-secondary {
	background-color: rgba($bg-secondary, .1);
}
.tab-custom {
	.nav-tabs{
		border-bottom-color:rgba($secondary-color,.2);
		li > a{
			&:hover{
				color: $primary-color;
			}
		}
		li > a.active, li > a.active:hover, li > a.active:focus, li > a.active:hover, li > a.active:focus{
			border-bottom-color: $primary-color;
		}
	}
	&-s2{
		.nav-tabs{
			li > a.active, li > a.active:hover, li > a.active:focus, li > a.active:hover, li > a.active:focus{
				border-bottom-color: $primary-alt-color;
			}
		}
	}
}

.theme-light{
	.tab-custom {
		.nav-tabs{
			li > a{
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
}
.pagination{
	li{
		&.active{
			a{
				background: $primary-color;
				border-color: $primary-color;
			}
		}
		a{
			color: $primary-color;
			&:hover,&:focus{
				color:#fff;
				background: $primary-color;
				border-color: $primary-color;
			}
		}
	}
}

.navbar{
	.navbar-nav {
		> li{
			&:hover a {
				color: $primary-color;	
			}
			> a {
				&.nav-link{
					&.active{
						color: $primary-color;
					}
				}		
			}
		}
		.dropdown-menu{
			.dropdown-item{
				&:hover,&:focus,&.active{
					color: $primary-color;
				}
			}
			li {
				&:hover > a{
					color: $primary-color;
				}
				&:hover.has-children:after{
					border-left-color:$primary-color;
				}
			}
			&.active > a, li > a:hover, li > a:focus {
				color: $primary-color;
			}
			> .active > a, > .active > a:focus, > .active > a:hover {
				color: $primary-color;
			}
		}
	}
}
.theme-light{
	.navbar{
		.navbar-nav {
			.dropdown-menu {
				.dropdown-item{
					&:hover,&:focus,&.active{
						color: $primary-color;
					}
				}
			}
		}
	}
}

.theme-light{
	.site-header{
		.navbar {
			&-nav {
				> li{
					&:hover{
						a{
							color: $primary-color;
						}
					}
				}
			}
			
		}
	}
}

.navbar-toggler{
	background: $gradiant-one;
	&:hover{
		background:$gradiant-one;
	}
}

.btn{
	background-image: -webkit-linear-gradient(left, $primary-alt-color 0%, $primary-color 100%);
	background-image: linear-gradient(to right, $primary-alt-color 0%, $primary-color 100%);
	&:before{
		background-image: -webkit-linear-gradient(left, $primary-color 0%, $primary-alt-color 100%);
		background-image: linear-gradient(to right, $primary-color 0%, $primary-alt-color 100%);
	}
	&.btn-alt{
		background-image: -webkit-linear-gradient(left, $secondary-color 0%, $primary-color 100%);
		background-image: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
		&:before{
			background-image: -webkit-linear-gradient(left, $primary-color 0%, $secondary-color 100%);
			background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
		}
	}
	&.btn-plane{
		background: $secondary-color;
	}
	&.btn-simple{
		.fa{
			color:$primary-color;
		}
	}
	&.btn-more{
		color:$primary-color;
		&:hover{
			color:$secondary-color;
		}
	}
}
.play-btn{
	.play{
		background-image:$gradiant-one;
		> span{
			background-image:$gradiant-one;
		}
	}
	&-alt{
		.fa{
			background: $gradiant-one;
		}
	}
	> span{
		&:last-of-type{
			color: $secondary-alt-color;
		}
	}
}
.text-block{
	ul:not(.btns){
		li{
			&:before{
				background: $primary-color;
			}
		}
	}
}
.section-head{
	.section-title{
		span,&:before{
			color: rgba($secondary-color, .06);
		}
	}
	&-s2{
		&:before{
			background: $primary-color;
		}
	}
}
.heading-animation{
	border-top-color: $primary-alt-color;
	border-left-color: $primary-alt-color;
	&:before{
		border-top-color: $primary-alt-color;
		border-lef-colort: $primary-alt-color;
	}
	&:after{
		border-top-color: $primary-alt-color;
		border-left-color: $primary-alt-color;
	}
	span:first-of-type{
		border-top-color: $primary-alt-color;
		border-left-color: $primary-alt-color;
		&:before{
			border-top-color: $primary-alt-color;
			border-left-color: $primary-alt-color;
		}
		&:after{
			border-top-color: $primary-alt-color;
			border-left-color: $primary-alt-color;
		}
	}
	span:last-of-type{
		border-top-color: $primary-alt-color;
		border-left-color: $primary-alt-color;
		&:before{
			border-top-color: $primary-alt-color;
			border-left-color: $primary-alt-color;
		}
		&:after{
			border-top-color: $primary-alt-color;
			border-left-color: $primary-alt-color;
		}
	}
}
.section-connect{
	&:before{
		background: $gradiant-one;
	}
}
.event-info{
	&:before{
		background: $primary-color;
	}
}
.countdown-box{
	.token-countdown{
		.countdown-text{
			color: $primary-color;
		}
	}
	&.countdown-header{
		&:after{
			border-color:rgba($secondary-color,.4);
		}
		&:before{
			border-color:rgba($secondary-color,.4);
		}
		.extra-line{
			border-color:rgba($secondary-color,.4);
			&:after{
				border-color:rgba($secondary-color,.4);
			}
		}
	}
	.io-azure & {
		background: $gradiant-one;
	}
}
.theme-light{
	.countdown-box{
		&.countdown-header{
			&:after{
				border-color:rgba($secondary-color,.1);
			}
			&:before{
				border-color:rgba($secondary-color,.1);
			}
			.extra-line{
				border-color:rgba($secondary-color,.1);
				&:after{
					border-color:rgba($secondary-color,.1);
				}
			}
		}
	}
}
.io-dark-light .section-light,
.io-dark-light .section-light-alt{
	.countdown-box{
		&.countdown-header{
			&:after{
				border-color:rgba($secondary-color,.1);
			}
			&:before{
				border-color:rgba($secondary-color,.1);
			}
			.extra-line{
				border-color:rgba($secondary-color,.1);
				&:after{
					border-color:rgba($secondary-color,.1);
				}
			}
		}
	}
}
.roadmap-list{
	&:after{
		background: $secondary-color;
	}
}
.single-roadmap{
	&:before{
		background-image: -webkit-linear-gradient(top, $primary-color 0%, $secondary-color 100%);
		background-image: linear-gradient(top, $primary-color 0%, $secondary-color 100%);
	}
	&:after{
		background: $primary-color;
	}
	&.roadmap-done{
		&:after{
			border-color:$primary-color;
		}
	}
	h6{
		color: $secondary-alt-color;
	}
	&.roadmap-down{
		&:before{
			background-image: -webkit-linear-gradient(top, $secondary-color 0%, $primary-color 100%);
			background-image: linear-gradient(top, $secondary-color 0%, $primary-color 100%);
		}
	}
}

.theme-light{
	.single-roadmap{
		&:before{
			background-image: -webkit-linear-gradient(top, $primary-alt-color 0%, $secondary-color 100%);
			background-image: linear-gradient(top, $primary-alt-color 0%, $secondary-color 100%);
		}
		&:after{
			background: $primary-alt-color;
		}
		&.roadmap-done{
			&:after{
				border-color:$primary-color;
			}
		}
		&.roadmap-down{
			&:before{
				background-image: -webkit-linear-gradient(top, $secondary-color 0%, $primary-alt-color 100%);
				background-image: linear-gradient(top, $secondary-color 0%, $primary-alt-color 100%);
			}
		}
	}
}

.single-roadmap-alt{
	&:before{
		background-image: linear-gradient(to right, transparent 0%, $secondary-color 50%, $secondary-color 100%);
	}
	&:after{
		border:1px solid $secondary-color;
	}
	&.sec-pri{
		&:before{
			background-image: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
		}
		&:after{
			border-color:$primary-color;
		}
		h5,h6{
			&:before{
				background: $primary-color;
			}
		}
	}
	&.pri-sec{
		&:before{
			background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
		}
		&:after{
			border-color:$secondary-color;
		}
		h5,h6{
			&:before{
				background: $secondary-color;
			}
		}
	}
	&.sec-prialt{
		&:before{
			background-image: linear-gradient(to right, $secondary-color 0%, $primary-alt-color 100%);
		}
		&:after{
			border-color:$primary-alt-color;
		}
		h5,h6{
			&:before{
				background: $primary-alt-color;
			}
		}
	}
	&.prialt-pri{
		&:before{
			background-image: linear-gradient(to right, $primary-alt-color 0%, $primary-color 100%);
		}
		&:after{
			border-color:$primary-color;
		}
		h5,h6{
			&:before{
				background: $primary-color;
			}
		}
	}
	&.pri-last{
		&:before{
			background-image: linear-gradient(to left, transparent 0%, $primary-color 50%, $primary-color 100%);
		}
	}
	h5,h6{
		&:before{
			background: $secondary-color;
		}
	}
}


// Team
.team-member{
	.team-photo{
		&:after{
			background-image: -webkit-$gradiant-one;
			background-image: $gradiant-one;
		}
		
	}
	.team-title{
		color: $primary-color;
	}
	.team-social{
		li{
			a{
				color: $secondary-alt-color;
			}
		}
	}
}

.team-hex{
	.team-info{
		&:before{
			background-image: -webkit-$gradiant-one;
			background-image: $gradiant-one;
		}
	}
	.team-title{
		color: $secondary-alt-color;
	}
}
.team-described{
	.team-title{
		&:after{
			background-image: -webkit-$gradiant-one;
			background-image: $gradiant-one;
		}
	}
	.team-social{
		li{
			a{
				color: $secondary-alt-color;
			}
		}
	}
	.team-discription{
		li{
			&:before{
				background: $primary-color;
			}
		}
	}
}
.team-circle{
	.team-photo{
		&:before{
			background-image: linear-gradient(to top, $primary-alt-color 0%, $primary-color 100%);
		}
	}
	.team-title{
		color: $secondary-alt-color;
	}
}
.skill-bar-percent{
	background-image: $gradiant-two;
}
.bg-team-exp.mfp-bg{
	background-image: $gradiant-two;
}
.contact-info{
	li{
		.fa{
			background-image: $gradiant-one;
		}
	}
	&-alt{
		li{
			.fa{
				background-image: $gradiant-one;
			}
		}
	}
}
.form-message{
	.input-field{
		.input-line{
			border-bottom-color:$primary-color;
		}
	}
}

.social{
	li{
		a{
			&:hover{
				background: $secondary-color;
			}
		}
	}
}

// @v111 s
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background: rgba($primary-color,.2);
	.theme-light &,
	.io-azure .section-pro &{
		background: rgba($primary-color,.4);
	}
}
.select2-container--default .select2-results__option[aria-selected=true]{
	background: rgba($primary-color,.3);
}
.select2-container--default .select2-selection--single{
	background: rgba($primary-color,.1);
}
.language-switcher{
	.dropdown-item {
		&:hover{
			color:$primary-color;
		}
	}
}
.blog{
	&-photo{
		a{
			&:after{
				background: $gradiant-two;
			}
		}
	}
	&-meta{
		li{
			color:$secondary-color;
			span{
				color:$primary-color;
			}
			&:after{
				background: darken($secondary-color,20%);
			}
			a{
				color: $secondary-color;
				&:hover{
					color: $primary-color;
				}
			}
		}
		
	}
	&-title{
		a{
			&:hover{
				color: $primary-color;
			}
		}
	}
	&-tags{
		li{
			a{
				border-color:rgba($primary-color,.2);
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
	.theme-light &{
		&-title{
			a{
				&:hover{
					color: $primary-color;
				}
			}
		}
		&-tags{
			li{
				a{
					border-color:rgba($primary-color,.5);
					&:hover{
						color: $primary-color;
					}
				}
			}
		}
	}
	.io-azure &{
		&-title{
			a{
				&:hover{
					color: $primary-color;
				}
			}
		}
		&-meta{
			li{
				color:$primary-color;
				span{
					color:$primary-color;
				}
				&:after{
					background: darken($primary-color,20%);
				}
				a{
					color: $primary-color;
					&:hover{
						color: #fff;
					}
				}
			}

		}
	}
	.io-azure .section-pro &{
		&-title{
			a{
				&:hover{
					color: $primary-color;
				}
			}
		}
		&-tags{
			li{
				a{
					&:hover{
						color: $primary-color;
					}
				}
			}
		}
		&-meta{
			li{
				color:$secondary-color;
				span{
					color:#9c9c9c;;
				}
				&:after{
					background: darken($secondary-color,20%);
				}
				a{
					color: $secondary-color;
					&:hover{
						color: $primary-color;
					}
				}
			}

		}
	}
}

.comment{
	&-time{
		color:$secondary-color;
	}
	&-reply{
		.fa{
			color: $secondary-color;
		}
	}
	.theme-light & {
		&-reply{
			.fa{
				color: $secondary-color;
			}
			&:hover{
				color: $secondary-color;
			}
		}
	}
	.io-azure .section-pro &{
		&-reply{
			.fa{
				color: $secondary-color;
			}
			&:hover{
				color: $secondary-color;
			}
		}
	}
}
.page-pagination{
	li{
		a{
			color: rgba($primary-color,.5);
			&:hover{
				background: rgba($secondary-color,.4);
			}
		}
		&.active{
			a{
				background: rgba($secondary-color,.4);
			}
		}
	}
	.theme-light &{
		li{
			a{
				color: $primary-color;
				&:hover{
					color:#fff;
					background: rgba($secondary-color,.4);
				}
			}
			&.active{
				a{
					background: rgba($secondary-color,.4);
				}
			}
		}
	}
	.io-azure & {
		li{
			a{
				color: $primary-color;
				&:hover{
					color:#fff;
					background: rgba($secondary-color,.4);
				}
			}
			&.active{
				a{
					background: rgba($secondary-color,.4);
				}
			}
		}
	}
	.io-azure .section-pro &{
		li{
			a{
				color: $primary-color;
				&:hover{
					color:#fff;
					background: rgba($secondary-color,.6);
				}
			}
			&.active{
				a{
					color: #fff;
					background: rgba($secondary-color,.6);
				}
			}
		}
	}
}
.sidebar{
	&-widget{
		&.category{
			ul{
				li{
					&:before{
						background: $primary-color;
					}
					a{
						&:hover{
							color: $primary-color;
						}
					}
					&.active{
						a{
							color: $primary-color;
						}
					}
				}
			}
		}
		&.tags{
			ul{
				li{
					a{
						border-color:rgba($primary-color,.2);
						&:hover{
							color: $primary-color;
						}
					}
				}
			}
		}
		.theme-light &{
			&.category{
				ul{
					li{
						a{
							&:hover{
								color: $primary-color;
							}
						}
						&.active{
							a{
								color: $primary-color;
							}
						}
					}
				}
			}
			&.tags{
				ul{
					li{
						a{
							border-color:rgba($primary-color,.5);
							&:hover{
								color: $primary-color;
							}
						}
					}
				}
			}
		}
		.io-azure .section-pro &{
			&.category{
				ul{
					li{
						a{
							&:hover{
								color: $primary-color;
							}
						}
						&.active{
							a{
								color: $primary-color;
							}
						}
					}
				}
			}
			&.tags{
				ul{
					li{
						a{
							&:hover{
								color: $primary-color;
							}
						}
					}
				}
			}
		}
	}
}

.search-form{
	input[type="text"]{
		border-color:rgba($primary-color,.1);
	}
	button{
		background: rgba($primary-color,.1);
		color:#fff;
		&:hover{
			background: rgba($primary-color,.3);
		}
	}
	.theme-light &{
		input[type="text"]{
			border-color:rgba($primary-color,.5);
		}
		button{
			background: rgba($primary-color,.5);
			&:hover{
				background: rgba($primary-color,.8);
			}
		}
	}
	.io-azure .section-pro &{
		button{
			&:hover{
				background: rgba($primary-color,.8);
				color:#fff;
			}
		}
	}
}

// @v113
.countdown-box{
	.io-azure .banner-tokensale & {
		.btn.btn-alt{
			background-image: $gradiant-one;
			&:before{
				background-image: $gradiant-two;
			}
		}
	}
}
.token-status{
	&-bar{
		background: #fff;
	}
	&-percent{
		background: linear-gradient(to right, $primary-color 0%, $primary-alt-color 100%);
		.io-azure .banner-tokensale &{
			background: linear-gradient(to right, $primary-alt-color 0%, darken($primary-alt-color, 10%) 100%);
		}
	}
	&-point{
		&:after{
			background: rgba($secondary-alt-color,.35);
		}
	}
}

// LAVENDAR Style @v1.2.0 .theme-lavendar

$lavendar-text:			#8484a4;
$lavendar-heading:		#38385f;
$primary-color:			#5d46e8;
$primary-bg:			$primary-color;
$primary-alt-color:		#40beff;
$primary-dark-color:	#311f9b;
$secondary-color:		#ff9259;

.theme-lavendar{
	.btn{
		background: $primary-bg;
		&:hover{
			background: $secondary-color;
		}
		&.btn-plane{
			&:hover{
				background: $primary-bg;
			}
		}
		&.btn-simple{
			.fa{
				color: $primary-color;
			}
		}
		&.btn-white{
			color: $primary-color;
			&:hover{
				background: $secondary-color;
			}
		}
		&.btn-simple{
			background: none;
			.fa{
				color: $primary-color;
			}
		}
		&.btn-outline{
			background: transparent;
			border-color: #fff;
			&:after{
				background: transparent;
			}
		}
	}
	.owl-dot{
		background: rgba($primary-color,.3);
		&.active{
			background: rgba($primary-color,.8);
		}
	}
	.site-header{
		&.has-fixed{
			.btn{
				&.btn-white{
					background: $primary-bg;
					&:hover{
						background: $secondary-color;
					}
				}
				&.btn-outline{
					border-color: $primary-color;
					color:$primary-color;
				}
			}
		} 
	}
	.navbar-toggler{
		background: $primary-alt-color;
	}
}
.section-bg-light,[class*=section-bg-light]{
	.small-heading{
		color: rgba($primary-color,.5);
	}
}
.section-bg-lavendar{
	background: $primary-bg;
	.section-head-s3{
		.section-title{
			&:before{
				background: $secondary-color;
			}
		}
	}
}
.section-bg-light-alt{
	background: rgba($primary-bg,.04);
}
.section-head-s3{
	.section-title{
		&:before{
			background: $primary-bg;
		}
	}
}
.warnning-badge{
	background: $secondary-color;
}
.banner{
	&-rounded-bg{
		background: $primary-bg;
	}
}
.token{
	&-box{
		.icon-list{
			li{
				.fa{
					color:$primary-color;
				}
			}
		}
		.token-countdown{
			.countdown-time{
				color: $primary-color;
				&:after{
					color: $primary-color;
				}
			}
		}
	}
	&-bar{
		background: rgba($primary-bg,.1);
	}
	&-percent{
		background: $primary-bg;
	}
	&-point{
		&:after{
			background: rgba($primary-bg,.4);
		}
	}
}
.roadmap{
	&-carousel{
		&:before,&:after{
			background: lighten($primary-bg,25%);
		}
		&-container{
			&:before{
				background: lighten($primary-bg,25%);
			}
		}
	}
	&-item{
		h6{
			&:before{
				background: rgba($primary-bg,.3);
			}
			&:after{
				background: $primary-bg;
			}
		}
	}
	&-done{
		h6{
			&:before{
				background: rgba($primary-alt-color,.3);
			}
			&:after{
				background: $primary-alt-color;
			}
		}
	}
}
.about{
	&-section{
		&-innr{
			&:before{
				background: $primary-bg;
			}
			&:after{
				background: $primary-bg;
			}
		}
	}
	&-info{
		background: rgba($primary-dark-color,.4);
		.ti{
			color:$primary-alt-color;
		}
	}
}

.reason{
	&-item{
		.ikon{
			color: $primary-color;
		}
	}
}
.process{
	&-scetion{ 
		.slider-nav{
			&-item{
				color: $primary-color;
				&:nth-child(2){
					color: $primary-alt-color;
				}
				&:nth-child(3){
					color: $primary-dark-color;
				}
				&:nth-child(4){
					color: $secondary-color;
				}
				&.active{
					color: #fff;
					background: $primary-color;
					&:nth-child(2){
						background: $primary-alt-color;
					}
					&:nth-child(3){
						background: $primary-dark-color;
					}
					&:nth-child(4){
						background: $secondary-color;
					}
					&:nth-child(5){
						background: $lavendar-heading;
					}
				}
			}
		}
	}
}

.features{
	&-item{
		.ti{
			background: $primary-alt-color;
		}
	}
}
.team-described{
	.team-photo{
		&:before{
			background-image: linear-gradient(to top left, rgba($primary-alt-color,.65) 0%, rgba($primary-color,.65) 100%);
		}
	}
	.team-title{
		color: $primary-alt-color;
		&:after{
			background-image: linear-gradient(to left, $primary-bg 0%, $primary-alt-color 100%);
		}
	}
	.team-social{
		li{
			a{
				color: $primary-alt-color;
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
	.team-discription{
		li{
			&:before{
				background: $primary-alt-color;
			}
		}
	}
}
.section-bg-light{
	.accordion {
		.plus-minus {
			.ti{
				color: $primary-color;
			}
		}
	}
}
.media{
	&-heading{
		a{
			&:hover{
				color: $primary-color;
			}
		}
	}
}
.subscribe-rounded{
	.input-round{
		background: rgba($primary-bg,.07);
	}
}
.footer-lavendar{
	background: $primary-bg;
}
.social-bar{
	li{
		a{
			color: $primary-color;
		}
	}
}

// Muscari Style @v1.2.2 .theme-muscari

$muscari-text:			#637097;
$muscari-heading:		#374574;
$primary-color:			#3455ff;
$primary-bg:			$primary-color;
$primary-alt-color:		#39a9ff;
$primary-dark-color:	#3399ff;
$secondary-color:		#ffc123; 

.theme-muscari{
	background: #fff;
	.countdown-box{
		background: $primary-bg;
		h6{
			color:#fff !important;
		}
		.countdown-time{
			color:#fff;
		}
		.countdown-text{
			color:rgba(#fff,.6);
		}
		&.countdown-transparent{
			background: rgba(darken($primary-color,20%),.8) !important;
		}
	}
	.token-status-point::after{
		background: rgba(255, 255, 255, 0.5);
	}
	.token-status-percent{
		background: $primary-alt-color;
	}
	.loader{
		&-section{
			background: darken(#fff,1%);
		}
	}
	.btn{
		background: $primary-bg;
		border-radius: 4px;
		&:hover{
			background: $secondary-color;
		}
		&:before{
			display:none;
		}
		&.btn-alt{
			background: $secondary-color;
			&:hover{
				background: $primary-alt-color;
			}
		}
		&.btn-plane{
			background: #fff;
			color:$primary-color;
			&:hover{
				color:#fff;
				background: $secondary-color;
			}
		}
		&.btn-simple{
			background: none;
			color: #fff;
			.fa{
				color: $secondary-color;
			}
		}
		&.btn-white{
			background: #fff;
			color: $primary-color;
			&:hover{
				background: $secondary-color;
				color: #fff;
			}
		}
		&.btn-outline{
			background: transparent;
			border:2px solid $secondary-color;
			&:after{
				background: transparent;
			}
			&:hover{
				background: $secondary-color;
			}
		}
	}
	.site-header{
		&.has-fixed{
			.navbar{
				background: #fff;
				box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15);
				&-nav > li > a{
					color:$lavendar-text;
				}
				.btn{
					&.btn-outline{
						border-color: $primary-color;
						color:$primary-color;
					}
				}
			}
		}
	}
	.navbar-toggler{
		background: $secondary-color;
	}
	.section-bg-light,[class*=section-bg-light]{
		.small-heading{
			color: rgba($primary-color,.5);
		}
	}
	.section-bg-muscari{
		.text-block{
			ul:not(.btns) li{
				color: #fff;
				&:before{
					background: $secondary-color;
				}
			}
		} 
	}
	.section-muscari{
		background: $primary-bg;
	}
	.text-block{
		color:$muscari-heading;
		p:not(.lead) {
			color: $muscari-text;
		}
	} 
	.roadmap{
		&-carousel{
			&-withnav{
				&:before,&:after{
					background: lighten($primary-dark-color,25%);
				}
			}
			&-container{
				&:before{
					background: lighten($primary-dark-color,25%);
				}
			}
		}
		&-item{
			h6{
				&:before{
					background: rgba($primary-dark-color,.3);
				}
				&:after{
					background: $primary-dark-color;
				}
			}
		}
		&-done{
			h6{
				&:before{
					background: rgba($primary-color,.3);
				}
				&:after{
					background: $primary-color;
				}
			}
		}
	}
	.team{
		&-member{
			background: rgba($primary-dark-color,.1);
			.team-social{
				li{
					a{
						color: $primary-alt-color;
						&:hover{
							color:$secondary-color;
						}
					}
				}
			}
			.team-title{
				color: $primary-color;
			}
			.team-photo{
				&:before{
					background: rgba($primary-color,.4);
				}
				&:after{
					background: $secondary-color;
				}
			}
		}
	}
	.copyright-text{
		color:#fff;
		span{
			color:rgba(#fff,.6);
		}
		a{
			color:#fff;
			&:hover{
				color:$secondary-color;
			}
		}
	}
	.footer-subscription .input-round {
		color: #fff;
		background: rgba($primary-alt-color,.5);
		border-color: transparent;
	}
	.social li a {
		color: $primary-color;
		background: #fff;
		&:hover{
			color: #fff;
			background: $secondary-color;
		}
	}
	.link-widget li a,.footer-links li a{
		color: rgba(#fff,.6);
		&:hover{
			color:#fff;
		}
	}
}
.header{
	&-angle-bg{
		background: $primary-bg;
	}
}
.section{
	&-head-s5{
		.section-title{
			&:after{
				background: $primary-alt-color;
			}
			.section-bg-muscari & {
				&:after{
					background: $secondary-color;
				}
			}
		}
	}
	
}
.text-box{
	h6{
		color:$secondary-color !important;
	}
	&.text-box-bg{
		background: rgba(#000,.2);
	}
}

.roadmap{
	&-carousel-withnav{
		.owl-prev,.owl-next {
			color: rgba($primary-color,.3);
		}
	}
}

// Faq
.section-bg-light{
	.tab-custom-s2 .nav-tabs{
		li > {
			a{
				opacity: 1;
				color: $muscari-text;
				&.active{
					color:$primary-color;
					border-bottom-color: $primary-color;
				}
			}
		}	
	}
} 
.section-bg-light,.section-bg-light-alt{
	.form-message .input-field{
		.input-line{
			color:$muscari-text;
			border-bottom-color: rgba(#ccd4ff,.6);
		}
		.input-title{
			color:rgba($primary-color,.5);
		}
	} 
}
.section-bg-light{
	.contact-info-alt li .fa{
		color: $primary-color;
		background: $primary-color;
		&:after{
			background: #fff;
		}
	}
} 
.section-bg-light-alt{
	.contact-info-alt li .fa{
		color: $primary-color;
		background: $primary-color;
		&:after{
			background: #f7f8ff;
		}
	}
}

// Lobelia Style @v1.2.3 .io-lobelia
$primary-color: 		#46bdf4;
$secondary-color:		#7a0fff;
$secondary-alt-color:	#8255fd;
$primary-alt-color:		#2b56f5;

.play{
	&-btn-s2{
		background: $gradiant-one;
	}
	&-icon{
		background: $gradiant-one;
	}
}
.features{
	&-item-s2{
		&:before{
			background: $primary-alt-color;
		}
	}
	&-icon-s2{
		background: $gradiant-one;
	}
}
.text-block{
	ol{
		li{
			&:before{
				color: $primary-color;
			}
		}
	}
}
.problem{
	&-item{
		ul{
			li{
				&:before{
					background: $primary-color;
				}
			}
		}
	}
}
.timeline{
	&-list{
		&:before{
			background: linear-gradient(to bottom, $primary-color 0%, $secondary-color 100%);
		}
	}
	&-content{
		&:before{
			border-color:$primary-color;
			background: $primary-color;
		}
		h6{
			color: $primary-color;
		}
	}
}
.team{
	&-circle{
		&-social{
			li{
				a{
					color: $primary-color;
					&:hover{
						color: $primary-alt-color;
					}
				}
			}
		}
	}
}
.io-lobelia{
	.sub-heading{
		color: $primary-color;
	}
}


// Jasmine Style @v1.3.0 .io-jasmine
$jasmine-text:			#6a7894;
$jasmine-text-dark: 	#4c5a77;
$jasmine-text-darker:	#223b55;
$jasmine-bg:		    #fff;
$jasmine-bg-alt:		#e7edf5;
$primary-color: 		#16a1ff;
$secondary-color:		#2b56f5;

.io-jasmine{
    h1,h2,h3,h4,h5,h6{
        color: $jasmine-text-darker;
    }
    p{
        color: $jasmine-text-dark;
        &.lead{
            color: $jasmine-text;
        }
    }
    .section-dark{
        h1,h2,h3,h4,h5,h6{
            color: #fff;
        }
        p{
            color: #fff;
            &.lead{
                color: #fff;
            }
        }
    }
    .section-bg{
        background: $jasmine-bg;
    }
    .section-bg-alt{
        background: $jasmine-bg-alt;
    }
    .section-bg-atob{
        background-image: linear-gradient(to bottom, $jasmine-bg 0%, $jasmine-bg-alt 100%);
    }
    .heading-sm{
        color: rgba($jasmine-text-darker,.6);
        &-s2{
            color: $primary-color;
        }
    }
    .timeline{
        &-title{
            color: $secondary-color;
        }
        &-done{
            .timeline{
                &-title{
                    color: $jasmine-text-darker;
                }
            }
        }
    }
    .document-title{
        color: $jasmine-text-dark;
    }
    .btn{
        border-radius: 6px;
        background-image: -webkit-linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        background-image: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        &:before{
            border-radius: 6px;
            background-image: -webkit-linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
            background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
        }
        &-outline{
            border:2px solid $primary-color;
            &:hover{
                color: #fff;
                background: $primary-color !important;
            }
        }
        &.btn-plane{
            background: $secondary-color;
        }
    }
    .text-block ul:not(.btns) li {
        &:before {
            background: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        }
    }
    .contact-info-alt{
        li{
            .fa{
                color: $primary-color;
                background: transparent;
                border-color:$primary-color;
            }
        }
    }
    .navbar-toggler {
        background: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        &:hover,&:focus{
            background: linear-gradient(to right, $primary-color 0%,$secondary-color 100%);
        }
    }
    .team{
        &-circle{
            &-des{
                background: #fff;
                h5{
                    color: $jasmine-text-dark;
                }
                span{
                    color: $primary-color;
                }
                p{
                    color: $jasmine-text-darker;
                }
            }
            &-social{
                li{
                    a{
                        color: $primary-color;
                        &:hover{
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
    .site-header .navbar-nav > li > a{
        color: $jasmine-text-darker;
        &:hover,&.active{
            color: $primary-color;
        }
    }
    .site-header.has-fixed .navbar{
        background: darken($jasmine-bg-alt,6%);
    }
    .lang-switch{
        a{
            color: $jasmine-text-darker;
            &:hover{
                color: $primary-color;
                background-color: transparent;
            }
        }
    }
    .loader-section{
        background: $jasmine-bg-alt;
    }
}
@media only screen and (max-width: 991px){
    .io-jasmine {
        .site-header .navbar.is-transparent.active {
            background: darken($jasmine-bg-alt,6%);
        }
    }
}
.background-shape{
    background: rgba(#003456,.03);
    &:before,&:after{
        background: rgba(#fff,.2);
    }
}
.banner-jasmine{
    background: linear-gradient(-135deg, #dde5f1 0%, #eaeff6 100%);
    .token-countdown .countdown-text{
        color: $primary-color;
    }
}
.circle-animation{
    .ca{
        border-color:rgba($jasmine-text-darker,.15);
        &-color{
            &-1{
                background: #86cfff;
            }
            &-2{
                background: #859fff;
            }
            &-3{
                background: #93a6ba;
            }
        }
    }
}

.heading-sm{
    &-s2{
        color: $primary-color;
        &:before{
            background: $primary-color;
        }
    }
}
.btn-icon-s2{
    color: $primary-color;
    background: transparent !important;
    .ti{
        color: #fff;
        background: $primary-color;
    }
    &:hover{
        color: $secondary-color;
        .ti{
            color: #fff;
            background: $secondary-color;
        }
    }
}
.rating{
    &-info{
        color: $jasmine-text-darker;
        span{
            color: $jasmine-text;
        }
        background: #e9effa;
    }
    &-title{
        background: rgba($primary-color,.6);
        color: #fff;
    }
}
.features{
    &-box-s3{
        background: #fff;
    }
    &-subtitle-s3{
        color: #9fa9b3;
        &:after{
            background: $primary-color;
        }
    }
    &-action{
        background: $secondary-color;
        color: #fff;
        &:hover{
            color: #fff;
            background: $primary-color;
        }
    }
}

.token{
    &-details{
        &-list{
            border-color:#d8e0ff;
            li{
                &:nth-child(even){
                    .token-details-title{
                        background: #e7f3ff;
                    }
                    .token-details-info{
                        background: #f7f9ff;
                    }
                }
                &:nth-child(odd){
                    .token-details-title{
                        background: #eff8ff;
                    }
                    .token-details-info{
                        background: #fff;
                    }
                }
            }
        }
        &-title{
            color: $jasmine-text-darker;
        }
        &-info{
            color: $primary-color;
        }
    }
    &-stage{
        &-title{
            color: #fff;
            background: $primary-color;
        }
        &-pre{
            background: lighten($primary-color,15%);
        }
        &-date{
            border-color:#d8e0ff;
        }
        &-info{
            border-color:#d8e0ff;
        }
        &-bonus{
            color: $primary-color;
        }
        &-cap{
            color: $jasmine-text;
        }
        &-amount{
            color: $jasmine-text-darker;
        }
    }
    &-action{
        &-box{
            background: lighten($primary-color,42%);
        }
        &-title{
            background: lighten($primary-color,32%);
        }
    }
    &-bar{
        &-item{
            &.tbic1{
                background: #002674;
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #002674;
                        }
                    }
                }
            }
            &.tbic2{
                background: #004ae2;
                &:before{
                    background: #004ae2;
                }
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #004ae2;
                        }
                    }
                }
            }
            &.tbic3{
                background: #3b7bff;
                &:before{
                    background: #3b7bff;
                }
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #3b7bff;
                        }
                    }
                }
            }
            &.tbic4{
                background: #3bb8ff;
                &:before{
                    background: #3bb8ff;
                }
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #3bb8ff;
                        }
                    }
                }
            }
            &.tbic5{
                background: #5378fb;
                &:before{
                    background: #5378fb;
                }
                .token-bar-txt{
                    span{
                        &:first-of-type{
                            color: #5378fb;
                        }
                    }
                }
            }
        }
        &-txt{
            &:after{
                background: rgba($primary-color,.5);
            }
        }
    }
}
.document{
    &-item{
        background: #fff;
    }
    &-title{
        color: $jasmine-text-dark;
    }
    &-links{
        li{
            a{
                border-color:#d8e0ff;
            }
        }
    }
}
.timeline{
    &-item{
        &:before,&:after{
            background: $primary-color;
        }
    }
    &-date{
        color: $jasmine-text;
        &:after{
            background: $secondary-color;
        }
        &:before{
            background: rgba($secondary-color,.23);
        }
    }
    &-title{
        color: $secondary-color;
        &:before{
            border-right-color: rgba(#babcc3,.3);
        }
    }
    &-info{
        li{
            color: lighten($jasmine-text,2%);
            &:after{
                background: lighten($jasmine-text,5%);
            }
        }
    }
    &-done{
        .timeline{
            &-title{
                color: $jasmine-text-darker;
            }
        }
    }
    &-current{
        .timeline{
            &-title{
                color: $jasmine-text-darker;
            }
        }
    }
    &-row{
        position: relative;
        &:before{
            border-bottom-color:rgba(#babcc3,.3);
        }
        &:after{
            border-color:rgba(#babcc3,.3);
        }
        &-done{
            &:after{
                border-color: $primary-color;
            }
        }
    }
}
@media only screen and (max-width: 991px){
    .timeline{
        &-title{
            &:before{
                border-top-color: rgba(#babcc3,.3);
            }
        }
        &-row{
            &:before{
                border-left-color: rgba(#babcc3,.3);
            }
        }
    }
}


// Custom Tab
.tab-custom-s3{
    .nav-tabs{
        .nav-link{
            background: rgba($jasmine-text-darker,.07);
            color: $jasmine-text-dark;
            &.active{
                color: $primary-color;
                background: rgba($primary-color,.1);
            }
        }
    }
}

.accordion-s2{
    .card {
        background-color: #fff;
        border-color: rgba($jasmine-text-darker,.1);
        &.active{
            border-color: rgba($primary-color,.3);
        }
        &-header{
            a {
                color: $primary-color;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
    .plus-minus {
        .ti {
            color: $primary-color;
        }
    }
    .collapsed{
		.plus-minus {
            .ti{
                color: rgba($jasmine-text-darker,.5);
            }
		}
	}
}
.footer-jasmine{
    .social{
        li{
            a{
                color: #fff;
                background: $primary-color;
                &:hover{
                    color: #fff;
                    background: $secondary-color;
                }
            }
        }
    }
}


// Lungwort Style @v1.3.0 .io-lungwort
$lungwort-text:			#d1ccff;
$lungwort-text-dark: 	#a89ffe;
$lungwort-text-darker:	#fff;
$lungwort-bg:		    #3e2bc5;
$lungwort-bg-alt:		#261986;
$lungwort-bg-dark:		#3221ad;
$primary-color: 		#7a0fff;
$secondary-color:		#2b56f5;
$primary-alt-color:		darken(#46bdf4,15%);

.io-lungwort{
    h1,h2,h3,h4,h5,h6{
        color: $lungwort-text-darker;
    }
    p{
        color: $lungwort-text-dark;
        &.lead{
            color: $lungwort-text;
        }
    }
    .section-bg{
        background: $lungwort-bg;
        .btn{
            &-outline{
                &:after{
                    background: $lungwort-bg;
                }
            }
        }
    }
    .section-bg-alt{
        background: $lungwort-bg-alt;
        .btn{
            &-outline{
                &:after{
                    background: $lungwort-bg-alt;
                }
            }
        }
    }
    .section-bg-dark{
        background: $lungwort-bg-dark;
        .btn{
            &-outline{
                &:after{
                    background: $lungwort-bg-dark;
                }
            }
        }
    }
    .section-bg-atob{
        background-image: linear-gradient(to bottom, $lungwort-bg 0%, $lungwort-bg-alt 100%);
    }
    .heading-sm{
        color: rgba($lungwort-text-darker,.6);
        &-s2{
            color: $primary-alt-color;
            &:before{
                background: $primary-alt-color;
            }
        }
    }
    .timeline{
        &-title{
            color: $secondary-color;
        }
        &-done{
            .timeline{
                &-title{
                    color: $lungwort-text-darker;
                }
            }
        }
    }
    .document-title{
        color: $lungwort-text-dark;
    }
    .btn{
        border-radius: 6px;
        background-image: -webkit-linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        background-image: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        &:before{
            border-radius: 6px;
            background-image: -webkit-linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
            background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
        }
        &.btn-plane{
            background: $secondary-color;
        }
    }
    .text-block ul:not(.btns) li {
        &:before {
            background: $primary-alt-color;
        }
    }
    .contact-info-alt{
        li{
            .fa{
                color: #fff;
                background: $primary-color;
                border-color:$primary-color;
            }
        }
    }
    .site-header .navbar-nav > li > a{
        color: $lungwort-text-darker;
        &:hover,&.active{
            color: $primary-alt-color;
        }
    }
    .site-header.has-fixed .navbar{
        background: darken($lungwort-bg-alt,3%);
    }
    .navbar{
        .btn{
            &-outline{
                &:after{
                    background: #362995;
                }
            }
        }
    }
    .has-fixed{
        .btn{
            &-outline{
                &:after{
                    background: darken($lungwort-bg-alt,3%);
                }
            }
        }
    }
    .countdown-box{
        h6{
            color: lighten($primary-color,11%);
        }
    }
    .lang-switch{
        a{
            color: $lungwort-text-darker;
            &:hover{
                color: $primary-alt-color;
                background-color: transparent;
            }
        }
        .dropdown-item{
            margin:  0 0;
        }
        .dropdown-menu{
            background: darken($lungwort-bg-alt,5%);
        }
        &:before {
            background: rgba(#efedff, 0.3);
        }
    }
    .navbar-toggler {
        background: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
        &:hover,&:focus{
            background: linear-gradient(to right, $primary-color 0%,$secondary-color 100%);
        }
    }
    .background-shape{
        background: rgba(#000,.03);
        &:before,&:after{
            background: rgba(#000,.05);
        }
    }
    .btn-icon-s2{
        color: $primary-alt-color;
        .ti{
            color: #fff;
            background: $primary-alt-color;
        }
        &:hover,&:focus{
            color: $secondary-color;
            .ti{
                color: #fff;
                background: $secondary-color;
            }
        }
    }
    .rating{
        &-info{
            color: $lungwort-text-darker;
            span{
                color: $lungwort-text;
            }
            background: #634ff1;
        }
        &-title{
            background: #160977;
        }
    }
    .features{
        &-title-s4{
            color: $primary-alt-color;
        }
    }
    .token{
        &-details{
            &-list{
                border-color:#453fc9;
                li{
                    &:nth-child(even){
                        .token-details-title{
                            background: #25238f;
                        }
                        .token-details-info{
                            background: #261986;
                        }
                    }
                    &:nth-child(odd){
                        .token-details-title{
                            background: #302ab3;
                        }
                        .token-details-info{
                            background: #3221ad;
                        }
                    }
                }
            }
            &-title{
                color: $lungwort-text-darker;
            }
            &-info{
                color: $primary-alt-color;
            }
        }
        &-stage{
            background: $lungwort-bg-dark;
            &-title{
                background: #5d47ff;
            }
            &-pre{
                background: #735fff;
            }
            &-one{
                background: #6853ff;
            }
            &-date{
                border-color:#4631e0;
            }
            &-info{
                border-color:#4631e0;
            }
            &-bonus{
                color: $primary-alt-color;
            }
            &-cap{
                color: $lungwort-text;
            }
            &-amount{
                color: #fff;
            }
        }
        &-action{
            &-box{
                background: $lungwort-bg-dark;
            }
            &-title{
                background: $lungwort-bg-alt;
            }
        }
    }
    .document{
        &-item{
            background: $lungwort-bg-alt;
        }
        &-title{
            color: #fff;
        }
        &-links{
            li{
                a{
                    border-color: #d1ccff;
                }
            }
        }
    }
    .timeline{
        &-item{
            &:before,&:after{
                background: $primary-alt-color;
            }
        }
        &-date{
            color: $primary-alt-color;
            &:after{
                background: $primary-alt-color;
            }
            &:before{
                background: rgba($primary-alt-color,.23);
            }
        }
        &-title{
            color: #fff;
            &:before{
                border-right-color: $primary-alt-color;
            }
        }
        &-info{
            li{
                color: $lungwort-text-dark;
                &:after{
                    background: rgba($lungwort-text-dark,.3);
                }
            }
        }
        &-done{
            .timeline{
                &-title{
                    color: #fff;
                }
            }
        }
        &-current{
            .timeline{
                &-title{
                    color: #fff;
                }
            }
        }
        &-row{
            &:before{
                border-bottom-color:$primary-alt-color;
            }
            &:after{
                border-color:$primary-alt-color;
            }
            &-done{
                &:after{
                    border-color: $primary-alt-color;
                }
            }
        }
    }
    .team{
        &-circle{
            &-des{
                background: $lungwort-bg;
                h5{
                    color: #fff;
                }
                span{
                    color: $primary-alt-color;
                }
                p{
                    color: $lungwort-text-dark;
                }
            }
            &-social{
                li{
                    a{
                        color: $primary-alt-color;
                        &:hover{
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
    .tab-custom-s3{
        .nav-tabs{
            .nav-link{
                background: transparent;
                color: #fff;
                &.active{
                    color: $primary-alt-color;
                    background: rgba($primary-alt-color,.1);
                }
            }
        }
    }
    .accordion-s2{
        .card {
            background-color: $lungwort-bg;
            border-color:rgba(#8777fe,.7);
            &.active{
                border-color: rgba($primary-alt-color,.6);
            }
            &-header{
                a {
                    color: $primary-alt-color;
                    &.collapsed{
                        color: $lungwort-text;
                    }
                    &:hover{
                        color: $primary-alt-color;
                    }
                }
            }
        }
        .plus-minus {
            .ti {
                color: $primary-alt-color;
            }
        }
        .collapsed{
            .plus-minus {
                .ti{
                    color: rgba($primary-alt-color,.5);
                }
            }
        }
    }
    .subscribe-box{
        background-image: linear-gradient(-135deg, #4d3dbf 0%, #5a4bc8 100%);
    }
    .subscribe-section-s2:before {
        background: darken($lungwort-bg-alt,4%);
    }
    .loader-section{
        background: $lungwort-bg;
    }
}

@media only screen and (max-width: 991px){
    io-lungwort{
        .timeline{
            &-title{
                &:before{
                    border-top-color:$primary-alt-color;
                }
            }
            &-row{
                &:before{
                    border-left-color:$primary-alt-color;
                }
            }
        }
    }
    .io-lungwort {
        .site-header .navbar.is-transparent.active {
            background: darken($lungwort-bg-alt,3%);
        }
    }
}
.banner-lungwort{
    background: linear-gradient(135deg, #6757d4 0%, #190a85 100%);
    .countdown-box{
        &:after{
            background: rgba(#1a0c7e,.3);
        }
        .token-countdown .countdown-text{
            color: $primary-alt-color;
        }
    }
}
.features{
    &-box-s4{
        background: $lungwort-bg;
    }
    &-title-s4{
        color: $primary-alt-color;
    }
    &-subtitle-s4{
        color: #d1ccff;
        &:after{
            background: $primary-alt-color;
        }
    }
    &-action{
        background: $primary-alt-color;
        color: #fff;
        &:hover{
            color: #fff;
            background: $primary-color;
        }
    }
}
.footer-lungwort{
    .social{
        li{
            a{
                color: #fff;
                background: $primary-color;
                &:hover{
                    color: #fff;
                    background: $secondary-color;
                }
            }
        }
    }
}

/*! END */